{%  extends 'admin/admin_base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <a href="{%url 'edit_tutorials' tutorials.id%}" class="btn btn-md"><i class="fas fa-edit">Edit</i></a>
            <div> 
                
                <h3>{{tutorials.title}}</h3>
            </div>
            <div class="col-xs-3">

                <img src="{{tutorials.Image.url}}" alt="" style="height: 200px;">
            </div>
            
            {{tutorials.tutorials|safe}}

        </div>

    </div>
    
</div>



{% endblock %}