{% extends 'user/user_base.html' %}
{% load static %}


{% block contend %}

	

	
	<div class="breadcrumbs">
		<section class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Ask Question</h1>
				</div>
				<div class="col-md-12">
					<div class="crumbs">
						<a href="#">Home</a>
						<span class="crumbs-span">/</span>
						<a href="#">Pages</a>
						<span class="crumbs-span">/</span>
						<span class="current">Ask Question</span>
					</div>
				</div>
			</div><!-- End row -->
		</section><!-- End container -->
	</div><!-- End breadcrumbs -->
	
	<section class="container main-content">
		<div class="row">
			<div class="col-md-9">
				
				<div class="page-content ask-question">
					<div class="boxedtitle page-title"><h2>Ask Question</h2></div>
					<div class="form-style form-style-3" id="question-submit">
						
					<form action="" method="POST" enctype="multipart/form-data">
						{% csrf_token %}
						{{form.media}}
						{{form.as_p}}
						<p class="form-submit">
							<input type="submit" id="publish-question" value="Submit Your Question" class="button color small submit">
						</p>
					</form>
							
					</div>
				</div><!-- End page-content -->
			</div><!-- End main -->
			{% include 'user/sidebarbase.html' %}
		</div><!-- End row -->
	</section><!-- End container -->
	
	





{% endblock %}