{% extends 'user/user-base.html' %}
{% load static %}


{% block content %}
{% include 'user/includes/header_base.html' %}
<style>
  .social-card-header{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 96px;
}
.social-card-header i {
    font-size: 32px;
    color:#FFF;
}
.bg-facebook {
    background-color:#3b5998;
}
.text-facebook {
    color:#3b5998;
}
.bg-google-plus{
    background-color:#dd4b39;
}
.text-google-plus {
    color:#dd4b39;
}
.bg-twitter {
    background-color:#1da1f2;
}
.text-twitter {
    color:#1da1f2;
}
.bg-pinterest {
    background-color:#bd081c;
}
.text-pinterest {
    color:#bd081c;
}
.share:hover {
        text-decoration: none;
    opacity: 0.8;
}
</style>
  <!-- =-=-=-=-=-=-= Main Area =-=-=-=-=-=-= -->
  <div class="main-content-area">

    <!-- =-=-=-=-=-=-= Page Breadcrumb =-=-=-=-=-=-= -->
    <section class="page-title">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-7 co-xs-12 text-left ">
            <h1>Latest News & Post</h1>
          </div>
          <!-- end col -->
          <div class="col-md-6 col-sm-5 co-xs-12 text-right">
            <div class="bread">
              <ol class="breadcrumb">
                <li><a href="#">Home</a>
                </li>
                <li><a href="#">Pages</a>
                </li>
                <li class="active">Blog</li>
              </ol>
            </div>
            <!-- end bread -->
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </section>

    <!-- =-=-=-=-=-=-= Page Breadcrumb End =-=-=-=-=-=-= -->

    <!-- =-=-=-=-=-=-= Blog & News =-=-=-=-=-=-= -->
    <section id="blog" class="custom-padding white">
      <div class="container">
        {% if request.user.is_authenticated %}
        <a href="{% url 'add_blog' %}" class="btn btn-danger btn-md" style="margin-bottom: 2rem;">Post Something..</a>
        {% endif %}
        <!-- Row -->
        <div class="row">

          <!-- Left Side Content -->
          <div class="col-sm-12 col-xs-12 col-lg-8 text-center">

            <!-- Blog Masonry Grid -->

              <!-- Blog Grid -->

              <!-- Blog Grid -->
			  {% for blog in all_blogs  %}
            <div class="card mb-4 " style="padding: 2rem; border: 1px solid rgb(219, 216, 216); margin-bottom: 10px; border-radius: 10px; box-shadow:3px 3px 15px rgb(204, 200, 200);">
              <a href="#!"><img class="card-img-top" src="{{blog.img.url}}" alt="..."></a>
              <div class="card-body ">
                  <div class="small text-muted">January 1, 2021</div>
                  <h2 class="card-title">{{blog.title}}</h2>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                  <a class="btn btn-primary" href="{% url 'blog_detailed_view' blog.slug %}">Read more →</a>
              </div>
          </div>
			  {% endfor %}


            <!-- Blog Masonry Grid -->

            <!-- Pagination -->
            <!-- <div class="text-center  section-padding-40">
              <ul class="pagination ">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                  </a>
                </li>
                <li><a href="#">1</a>
                </li>
                <li class="active"><a href="#">2</a>
                </li>
                <li><a href="#">3</a>
                </li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                  </a>
                </li>
              </ul>
            </div>

            <div class="clearfix"></div>
            Pagination End -->


            <nav class="mt-4" aria-label="Page navigation sample">
              {% if product.has_other_pages %}
               <ul class="pagination">
                {% if product.has_previous %}
                 <li class="page-item"><a class="page-link" href="?page={{ product.previous_page_number }}">Previous</a></li>
                 {% else %}
                 <li class="page-item disabled"><a class="page-link" href="">Previous</a></li>
                 {% endif%}
            
                    <li class="page-item page-link ">Page {{ product.number }}</li>
           
                 {% if product.has_next %}
          
                 <li class="page-item"><a class="page-link" href="?page={{ product.next_page_number }}">Next</a></li>
                 {% else %}
                 <li class="page-item disabled"><a class="page-link" href="">Next</a></li>
                 {% endif %}
         
               </ul>
               {% endif %}
             </nav>
          </div>
          <!-- Left Content End -->

          <!-- Blog Right Sidebar -->
          <div class="col-sm-12 col-xs-12 col-md-4">

            <!-- sidebar -->
            <div class="side-bar">

              <!-- widget -->
              <div class="widget">
                <div class="latest-news">
                  <h2>Latest News</h2>
                  <hr class="widget-separator no-margin">

                  <div class="news-post">
                    <div class="post">
                      <figure class="post-thumb"><img alt="" src="https://templates.scriptsbundle.com/knowledge/demo/images/blog/small-1.png">
                      </figure>
                      <h4><a href="#">Differentiate Yourself And Attract More Attention </a></h4>
                      <div class="post-info">1 hour ago</div>
                    </div>

                    <div class="post">
                      <figure class="post-thumb"><img alt="" src="https://templates.scriptsbundle.com/knowledge/demo/images/blog/small-2.png">
                      </figure>
                      <h4><a href="#">Differentiate Yourself And Attract More Attention </a></h4>
                      <div class="post-info">1 hour ago</div>
                    </div>

                    <div class="post">
                      <figure class="post-thumb"><img alt="" src="https://templates.scriptsbundle.com/knowledge/demo/images/blog/small-3.png">
                      </figure>
                      <h4><a href="#">Differentiate Yourself And Attract More Attention </a></h4>
                      <div class="post-info">1 hour ago</div>
                    </div>

                    <div class="post">
                      <figure class="post-thumb"><img alt="" src="https://templates.scriptsbundle.com/knowledge/demo/images/blog/small-4.png">
                      </figure>
                      <h4><a href="#">Differentiate Yourself And Attract More Attention </a></h4>
                      <div class="post-info">1 hour ago</div>
                    </div>

                  </div>

                </div>
              </div>
              <!-- widget end -->

              <!-- widget -->
            

              <!-- widget -->
              <div class="widget">
                <div class="gallery">
                  <h2>Gallery</h2>
                  <hr class="widget-separator no-margin">
                  <div class="gallery-image">
                    <a href="#"><img alt="" src="https://templates.scriptsbundle.com/knowledge/demo/images/blog/small-5.png">
                    </a>
                    <a href="#"><img alt="" src="https://templates.scriptsbundle.com/knowledge/demo/images/blog/small-6.png">
                    </a>
                    <a href="#"><img alt="" src="https://templates.scriptsbundle.com/knowledge/demo/images/blog/small-7.png">
                    </a>
                    <a href="#"><img alt="" src="https://templates.scriptsbundle.com/knowledge/demo/images/blog/small-8.png">
                    </a>
                    <a href="#"><img alt="" src="https://templates.scriptsbundle.com/knowledge/demo/images/blog/small-9.png">
                    </a>
                    <a href="#"><img alt="" src="https://templates.scriptsbundle.com/knowledge/demo/images/blog/small-10.png">
                    </a>
                    <a href="#"><img alt="" src="https://templates.scriptsbundle.com/knowledge/demo/images/blog/small-1.png">
                    </a>
                    <a href="#"><img alt="" src="https://templates.scriptsbundle.com/knowledge/demo/images/blog/small-2.png">
                    </a>
                    <a href="#"><img alt="" src="https://templates.scriptsbundle.com/knowledge/demo/images/blog/small-3.png">
                    </a>
                    <a href="#"><img alt="" src="https://templates.scriptsbundle.com/knowledge/demo/images/blog/small-4.png">
                    </a>
                    <a href="#"><img alt="" src="https://templates.scriptsbundle.com/knowledge/demo/images/blog/small-11.png">
                    </a>
                    <a href="#"><img alt="" src="https://templates.scriptsbundle.com/knowledge/demo/images/blog/small-12.png">
                    </a>
                  </div>
                </div>
              </div>
              <!-- widget end -->

              <!-- widget -->
              

  

              

            </div>
            <!-- sidebar end -->

          </div>
          <!-- Blog Right Sidebar End -->

        </div>

        <!-- Row End -->
      </div>
      <!-- end container -->
    </section>
    <!-- =-=-=-=-=-=-= Blog & News end =-=-=-=-=-=-= -->

    <!-- =-=-=-=-=-=-= Our Clients =-=-=-=-=-=-= -->
    <section class="custom-padding" id="clients">
      <div class="container">

        <!-- Row -->
        <div class="row">

          <!-- col-md-2 client-block -->
          <div class="col-md-2 col-xs-6 col-sm-4 client-block">

            <!-- client-item client-item-style-2 -->
            <div class="client-item client-item-style-2">
              <a title="Client Logo" href="#"> <img alt="Clients Logo" src="https://templates.scriptsbundle.com/knowledge/demo/images/clients/client_5.png"> </a>
            </div>
            <!-- /client-item client-item-style-2 -->

          </div>
          <!-- /col-md-2 client-block -->

          <!-- col-md-2 client-block -->
          <div class="col-md-2 col-xs-6 col-sm-4 client-block">

            <!-- client-item client-item-style-2 -->
            <div class="client-item client-item-style-2">
              <a title="Client Logo" href="#"> <img alt="Clients Logo" src="https://templates.scriptsbundle.com/knowledge/demo/images/clients/client_6.png"> </a>
            </div>
            <!-- /client-item client-item-style-2 -->

          </div>
          <!-- /col-md-2 client-block -->

          <!-- col-md-2 client-block -->
          <div class="col-md-2 col-xs-6 col-sm-4 client-block">

            <!-- client-item client-item-style-2 -->
            <div class="client-item client-item-style-2">
              <a title="Client Logo" href="#"> <img alt="Clients Logo" src="https://templates.scriptsbundle.com/knowledge/demo/images/clients/client_7.png"> </a>
            </div>
            <!-- /client-item client-item-style-2 -->

          </div>
          <!-- /col-md-2 client-block -->

          <!-- col-md-2 client-block -->
          <div class="col-md-2 col-xs-6 col-sm-4 client-block">

            <!-- client-item client-item-style-2 -->
            <div class="client-item client-item-style-2">
              <a title="Client Logo" href="#"> <img alt="Clients Logo" src="https://templates.scriptsbundle.com/knowledge/demo/images/clients/client_8.png"> </a>
            </div>
            <!-- /client-item client-item-style-2 -->

          </div>
          <!-- /col-md-2 client-block -->

          <!-- col-md-2 client-block -->
          <div class="col-md-2 col-xs-6 col-sm-4 client-block">

            <!-- client-item client-item-style-2 -->
            <div class="client-item client-item-style-2">
              <a title="Client Logo" href="#"> <img alt="Clients Logo" src="https://templates.scriptsbundle.com/knowledge/demo/images/clients/client_9.png"> </a>
            </div>
            <!-- /client-item client-item-style-2 -->

          </div>
          <!-- /col-md-2 client-block -->

          <!-- col-md-2 client-block -->
          <div class="col-md-2 col-xs-6 col-sm-4 client-block">

            <!-- client-item client-item-style-2 -->
            <div class="client-item client-item-style-2">
              <a title="Client Logo" href="#"> <img alt="Clients Logo" src="https://templates.scriptsbundle.com/knowledge/demo/images/clients/client_10.png"> </a>
            </div>
            <!-- /client-item client-item-style-2 -->

          </div>
          <!-- /col-md-2 client-block -->

        </div>
        <!-- Row End -->

      </div>

      <!-- end container -->
    </section>
    <!-- =-=-=-=-=-=-= Our Clients -end =-=-=-=-=-=-= -->

  </div>
  <!-- =-=-=-=-=-=-= Main Area End =-=-=-=-=-=-= -->
  <!-- <script type="text/javascript">
    (function($) {
      "use strict";
      $('#posts-masonry').imagesLoaded(function() {
        $('#posts-masonry').isotope({
          layoutMode: 'masonry',
          transitionDuration: '0.3s'
        });
      });
    })(jQuery);
  </script> -->


  {% endblock %}