
{% extends 'user/user-base.html' %}
{% load static %}

{% block content %}
{% include 'user/includes/header_base.html' %}

<style>
    #id_img{
        color: blue;
    }
</style>
<div class="container" style="max-width: 80rem; ">
    
    <div class="search-area" >

            <div class="col-lg-12 " style="border: 1px solid rgb(156, 155, 155); margin: 2rem; padding: 1rem; border-radius: 15px; box-shadow:8px 8px 10px rgb(165, 164, 164);" >
        <h2 class="text-center text-black">Add your Blog here!!</h2>
            <p class="search-tag-line"></p>
            <form autocomplete="off" method="POST" enctype="multipart/form-data" class="search-form clearfix" id="search-form">
                {% csrf_token %}
                {{form.media}}
                {{form.as_p}}
                
                
                <input type="submit" value="Submit" class="btn btn-default">
            </form>
        </div>
    </div>
</div>

{% endblock %}