{% extends 'user/user-base.html' %}
{% load custom_tags %}
{% load static %}
    {% block content %}
    <meta name="vapid-key" content="{{ vapid_key }}">
    {% if request.user.id %}
        <meta name="user_id" content="{{ user.id }}">
    {% endif %}
    <link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css" />
    <div class="preloader"><span class="preloader-gif"></span>
    </div>
    <!-- =-=-=-=-=-=-= HEADER =-=-=-=-=-=-= -->
    <div class="top-bar">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-4">
            <ul class="top-nav nav-left">
              <li><a href="{% url 'index' %}">Home</a>
              </li>
              <li class="hidden-xs"><a href="{% url 'view_blog' %}">Blog</a>
              </li>
              <!-- <li  class="hidden-xs"><a href="#">Contact Us</a> -->
              </li>
            </ul>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-6 col-xs-8">
            <ul class="top-nav nav-right">
              {% if user.is_authenticated %}
              <div class="nav-item">
 
                {% show_notifications %}
              </div>
              <li class="dropdown">
                <a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" data-animations="fadeInUp">
              <!-- {% block prof_image %}
                <img class="img-circle resize" alt="" src="prof.profile_image.url}}">
                {% endblock prof_image %} -->
                  <span class="hidden-xs small-padding">
                    <span>{{user}}</span>
                    <i class="fa fa-caret-down"></i>
                  </span>
                </a>
                
                <ul class="dropdown-menu ">
                  <li><a href=""><i class=" icon-bargraph"></i> Dashboard</a></li>
                  <li><a href="{% url 'user_profile' %}"><i class=" icon-gears"></i> Profile Setting</a></li>
                  <li><a href=""><i class="icon-heart"></i> Questions</a></li>
                  <li><a href="{% url 'logout' %}"><i class="icon-lock"></i> Logout</a></li>
                </ul>
              </li>
              
              {% else %}
              <li><a href="{% url 'login_view' %}"><i class="fa fa-lock" aria-hidden="true"></i>Login</a>
              </li>
              <li><a href="{% url 'register' %}"><i class="fa fa-user-plus" aria-hidden="true"></i>Signup</a>
              </li>
    
              {% endif %}
    
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- =-=-=-=-=-=-= HEADER Navigation =-=-=-=-=-=-= -->
    <div class="navbar navbar-default">
      <div class="container">
        <!-- header -->
        <div class="navbar-header">
          <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- logo -->
          <a href="" class="navbar-brand"><img class="img-responsive" alt=""
              src="{% static 'all_assets/images/logo.png' %}">
          </a>
          <!-- search form -->
    
    
          <div id="autocomplete" class="autocomplete navbar-form pull-left">
            <input class="autocomplete-input" placeholder="Search here..." />
            <ul class="autocomplete-result-list"></ul>
          </div>
    
    
          <!-- header end -->
          <!-- header end -->
        </div>
        <!-- navigation menu -->
        <div class="navbar-collapse collapse">
          <!-- right bar -->
          <ul class="nav navbar-nav navbar-right">
            <li class="hidden-sm"><a href="{% url 'view_challenges' %}">Challenges</a>
            </li>
            <li class="hidden-sm"><a href="{% url 'tutorials' %}">Tutorials</a>
            </li>
            <li><a href="{% url 'question_list' %}">Browse Questions</a>
    
            <li>
              <div class="btn-nav"><a href="{% url 'ask_question' %}" class="btn btn-primary btn-small navbar-btn">Post
                  Question</a>
              </div>
            </li>
          </ul>
        </div>
    
      </div>
    </div>
    
    <script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>
    
    <script>
      new Autocomplete('#autocomplete', {
        search: input => {
          const url = '/search_question/?title=' + input
          return new Promise(resolve => {
            fetch(url)
              .then(response => response.json())
              .then(data => {
                resolve(data.data)
              })
          })
        },
        onSubmit: result => {
          window.location.href = ('/search/?keyword=' + result)
        }
      })
    </script>

    <style>
                    .listing-grid img {
                    width: 485px;
                    height: 300px;
                    }
                    </style>

    <!-- =-=-=-=-=-=-= HOME =-=-=-=-=-=-= -->
    <div id="home" class="full-section parallax-home">
      <div class="slider-caption">
        <h1> Are You Looking for help ? </h1>
        <h2> <span>Join  Our Community</span></h2>
        <a class="btn btn-transparent" href="{% url 'register' %}"> Join Now </a> <a class="btn btn-light" href="{% url 'question_list' %}"> Start Browsing </a> </div>
    </div>
    <!-- =-=-=-=-=-=-= HOME END =-=-=-=-=-=-= -->
  
    <!-- =-=-=-=-=-=-= Main Area =-=-=-=-=-=-= -->
    <div class="main-content-area">
      <!-- =-=-=-=-=-=-= How It Work  =-=-=-=-=-=-= -->
      <section class="custom-padding" id="how-it-work">
        <div class="container">
          <!-- title-section -->
          <div class="main-heading text-center">
            <h2>How  It Works </h2>
            <div class="slices"><span class="slice"></span><span class="slice"></span><span class="slice"></span>
            </div>
            <p>Cras varius purus in tempus porttitor ut dapibus efficitur sagittis cras vitae lacus metus nunc vulputate facilisis nisi
              <br> eu lobortis erat consequat ut. Aliquam et justo ante. Nam a cursus velit</p>
          </div>
  
          <!-- End title-section -->
  
          <div class="row">
            <div class="col-sm-4 col-md-4 col-xs-12  center-responsive"> <img src="https://templates.scriptsbundle.com/knowledge/demo/images/step1.png" class="img-responsive" alt="">
              <h4><a href="#">Create An Account</a></h4>
            </div>
            <div class="col-sm-4 col-md-4 col-xs-12 center-responsive get-arrow"> <img src="https://templates.scriptsbundle.com/knowledge/demo/images/step2.png" class="img-responsive" alt="">
              <h4><a href="#">Post Your Question</a></h4>
            </div>
            <div class="col-sm-4 col-md-4 col-xs-12 center-responsive get-arrow"> <img src="https://templates.scriptsbundle.com/knowledge/demo/images/step3.png" class="img-responsive" alt="">
              <h4><a href="#"> Find Your Solution</a></h4>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- end container -->
      </section>
      <!-- =-=-=-=-=-=-= How It Work  End =-=-=-=-=-=-= -->
  
      <!-- =-=-=-=-=-=-= Latest Questions  =-=-=-=-=-=-= -->
      <section class="section-padding-80 white" id="latest-post">
        <div class="container">
          <!-- title-section -->
          <div class="main-heading text-center">
            <h2>Recent Questions</h2>
            <div class="slices"><span class="slice"></span><span class="slice"></span><span class="slice"></span>
            </div>
            <p>Cras varius purus in tempus porttitor ut dapibus efficitur sagittis cras vitae lacus metus nunc vulputate facilisis nisi
              <br> eu lobortis erat consequat ut. Aliquam et justo ante. Nam a cursus velit</p>
          </div>
          <!-- End title-section -->
  
          <div class="row">
            <!-- Content Area Bar -->
            <div class="col-md-8 col-sm-12">
              <div class="listing">
                <!-- Question Area Panel -->
                <div class="listing-area">
                  {% for ql in  question  %}
                  <!-- Question Listing -->
                  <div class="listing-grid " style="border: 1px solid silver; padding: 2rem;">
                    <div class="row">
                     
                      <div class="  col-xs-12">
                        <h2>Q.</h2>
                        <div class="listing-meta">
                          <h3><a  href="{% url 'view_answer' ql.slug %}"> 	
                            {{ql.question_title}}</a></h3>
                          <span><i class="fa fa-clock-o" aria-hidden="true"></i>{{ql.created_at}}</span>
                          <span><i class="fa fa fa-eye" aria-hidden="true"></i> {{ql.view}} Views</span>
                        </div>
                        <hr>
  
                      </div>
                      <div class="col-md-3 col-sm-2 col-xs-12">
                        <!-- <ul class="question-statistic">
  
                          <li class="active">
                            <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>2</span></a>
                          </li>
                          <li>
                            <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>0</span></a>
                          </li>
                        </ul> -->
                      </div>
  
                      <!-- <div class="col-md-10 col-sm-10  col-xs-12">
                        <p>{{ql.question|safe}}</p>
                        <div class="pull-right tagcloud">
                          <a href="#">Php</a>
                          <a href="#">recursive</a>
                          <a href="#">error</a>
                        </div>
                      </div> -->
  
                    </div>
                  </div>
                  <!-- Question Listing End -->
                  {% endfor %}
  
                  
                </div>
  
                <!-- Pagination View More -->
                <!-- <div class="text-center clearfix">
                  <button class="btn btn-primary btn-lg">View All Questions</button>
                </div> -->
                <!-- Pagination View More End -->
  
                <!-- Question Area Panel End -->
              </div>
            </div>
            <!-- Content Area Bar End -->
  
            <!-- Right Sidebar -->
            <div class="col-md-4 col-sm-12 col-xs-12 clearfix">
  
              <!-- sidebar -->
              <div class="side-bar">
  
                <!-- widget -->
                <!-- <div class="widget">
                  <h2>Top Authors</h2>
                  <hr class="widget-separator no-margin">
                  <div class="media-group">
                    {% for prof in profile 
                    <div class="media-group-item">
                      <div class="media">
                        <div class="media-left">
                          <div class="avatar avatar-md avatar-circle"> <img alt="" class="" src="{{prof.profile_image.url"> </div>
                        </div>
                        <div class="media-body">
                          <h5 class="media-heading"><a href="">{{prof.user</a></h5>
                        
                        </div>
                      </div>
                    </div> -->
                    <!-- {% endfor  -->
                    <!-- .media-group-item -->
  
                    
             
  
              </div>
              <!-- sidebar end -->
            </div>
            <!-- Right Sidebar End -->
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- end container -->
      </section>
      <!-- =-=-=-=-=-=-= Latest Questions  End =-=-=-=-=-=-= -->
    </div>
    <!-- =-=-=-=-=-=-= Main Area End =-=-=-=-=-=-= -->
 {% endblock %}