{% extends 'user/user_base.html' %}
{% load static %}
{% block contend %}


<div class="section-warp ask-me">
  <div class="container clearfix">
    <div class="box_icon box_warp box_no_border box_no_background" box_border="transparent" box_background="transparent"
      box_color="#FFF">
      <div class="row">
        <div class="col-md-3">
          <h2>Welcome to Ask me</h2>
          <p>
            Duis dapibus aliquam mi, eget euismod sem scelerisque ut. Vivamus at
            elit quis urna adipiscing iaculis. Curabitur vitae velit in neque
            dictum blandit. Proin in iaculis neque.
          </p>
          <div class="clearfix"></div>
          <a class="color button dark_button medium" href="{% url 'logout' %}">About Us</a>
          <a class="color button dark_button medium" href="{% url 'login_view' %}">Join Now</a>
        </div>
        <div class="col-md-9">
        
          <form id="form" action="{% url 'question_from_index' %}" method="POST" class="form-style form-style-2">
            {% csrf_token %}
            <p>      
              <textarea rows="4" id="question_title" name='title'placeholder="Ask any question and you be sure find your answer ?" required oninvalid="this.setCustomValidity('Type something here')"
              oninput="this.setCustomValidity('')" ></textarea>
              <i class="icon-pencil"></i>
              <input type="submit" value="Ask Now" class="color button small submit" >
            </p>  
          </form>
          
        </div>
      </div>
      <!-- End row -->
    </div>
    <!-- End box_icon -->
  </div>
  <!-- End container -->
  <br>
  <div style="text-align: center;">

    <a href="{% url 'ask_question' %}" class="btn btn-outline-dark" style=" color: white;"> Or Ask Queston in detail</a>
  </div>
</div>
<!-- End section-warp -->

<section class="container main-content">
  <div class="row">
    <div class="col-md-9">
      <div class="tabs-warp question-tab">
        <ul class="tabs">
          <li class="tab"><a href="#" class="current">Recent Questions</a></li>
          <li class="tab"><a href="#">Most Responses</a></li>
          <li class="tab"><a href="#">Recently Answered</a></li>
          <li class="tab"><a href="#">No answers</a></li>
        </ul>
        <div class="tab-inner-warp">
          <div class="tab-inner">
            {% for que in question %}
            <h4>{{que.user}}</h4>
            <article class="question question-type-normal">
              <h2>
                <a href="{% url 'view_answer' que.id %}" id ='question_title'>{{que.question_title}}</a>
              </h2>

              <a class="question-report" href="#">Report</a>
              <div class="question-type-main">
                <i class="icon-question-sign"></i>Question
              </div>
              <div class="question-author">
                <a href="#" original-title="ahmed" class="question-author-img tooltip-n"><span></span><img alt=""
                    src="https://2code.info/demo/html/ask-me/images/demo/avatar.png" /></a>
              </div>
              <div class="question-inner">
                <div class="clearfix"></div>
                <p class="question-desc">{{que.question|safe}}</p>
                <div class="question-details">
                  <span class="question-answered question-answered-done"><i class="icon-ok"></i>solved</span>
                  <span class="question-favorite"><i class="icon-star"></i>5</span>
                </div>
                <span class="question-category"><a href="#"><i class="icon-folder-close"></i>wordpress</a></span>
                <span class="question-date"><i class="icon-time"></i>4 mins ago</span>
                <span class="question-comment"><a href="#"><i class="icon-comment"></i>5 Answer</a></span>
                <span class="question-view"><i class="icon-user"></i>70 views</span>
                <div class="clearfix"></div>
              </div>
            </article>
            {% endfor %}

            <a href="#" class="load-questions"><i class="icon-refresh"></i>Load More Questions</a>
          </div>
        </div>
      </div>
      <!-- End page-content -->
    </div>
    <!-- End main -->
    {% include 'user/sidebarbase.html' %}
    <!-- End sidebar -->
  </div>
  <!-- End row -->
</section>
<!-- End container -->



<script>
  const form  = document.getElementById('question_title');
    $('#form').onSubmit(function(){
      $.ajax({
    type: 'GET',
    url: "{% url 'index_call' %}",
    dataType:"json",
    success: renderList,
      });
      return false;
});


function renderList(data) {
    alert(data);
}
  
</script>

<script>
  const form  = document.getElementById('form');
  from.addEventLister('submit', submitHandler);

  function submitHandler(e){
    e.preventDefault();
    $.ajax({
      type : 'POST',
      url : "{% url 'question_from_index' %}",
      data : $('#form').serialize,
      dataType : 'json',
      success : function(data) {
        if (data.msg === 'success'){
          alert('question submitted');
        }
      }
    })
  }
</script>

{% endblock %}