{% extends 'user/user-base.html' %}
{% load static %}


{% block content %}
{% include 'user/includes/header_base.html' %}
  <!-- =-=-=-=-=-=-= Main Area =-=-=-=-=-=-= -->
  <div class="main-content-area">

    <!-- =-=-=-=-=-=-= Page Breadcrumb =-=-=-=-=-=-= -->
    <section class="page-title">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-7 co-xs-12 text-left">
            <h1>Latest News & Post</h1>
          </div>
          <!-- end col -->
          <div class="col-md-6 col-sm-5 co-xs-12 text-right">
            <div class="bread">
              <ol class="breadcrumb">
                <li><a href="#">Home</a>
                </li>
                <li><a href="#">Pages</a>
                </li>
                <li class="active">Blog</li>
              </ol>
            </div>
            <!-- end bread -->
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </section>

    <!-- =-=-=-=-=-=-= Page Breadcrumb End =-=-=-=-=-=-= -->

    <!-- =-=-=-=-=-=-= Blog & News =-=-=-=-=-=-= -->
    <section id="blog" class="custom-padding white">
      <div class="container">
        <!-- Row -->
        <div class="row">

          <!-- Left Side Content -->
          <div class="col-sm-12 col-xs-12 col-md-8">

            <!-- Blog Masonry Grid -->
            <div id="posts-masonry" class="posts-masonry">
              <!-- Blog Grid -->

              <!-- Blog Grid -->
			  {% for blog in blog  %}
              <div class="col-xs-12 col-sm-12 col-md-6  col-lg-6">
                <div class="blog-grid">
                  <div class="blog-image"> <img alt="blog-image1" class="img-responsive" src="/media/{{blog.img}}">
                  </div>
                  <div class="blog-content">
                    <h5><a  href="{% url 'blog_detailed_view' blog.slug %}">{{blog.title}}</a></h5>
                    <ul class="post-meta">

                      <li>{{blog.created_at}}</li>
                    </ul>
                    
                  </div>

                </div>
              </div>
              <!-- Blog Grid -->
			  {% endfor %}

            </div>
            <!-- Blog Masonry Grid -->

            <!-- Pagination -->
            <div class="text-center  section-padding-40">
              <ul class="pagination ">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                  </a>
                </li>
                <li><a href="#">1</a>
                </li>
                <li class="active"><a href="#">2</a>
                </li>
                <li><a href="#">3</a>
                </li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                  </a>
                </li>
              </ul>
            </div>

            <div class="clearfix"></div>
            <!-- Pagination End -->
          </div>
          <!-- Left Content End -->

          <!-- Blog Right Sidebar -->
          <div class="col-sm-12 col-xs-12 col-md-4">

            <!-- sidebar -->
            <div class="side-bar">

              <!-- widget -->
              <div class="widget">
                <div class="latest-news">
                  <h2>Latest News</h2>
                  <hr class="widget-separator no-margin">

                  <div class="news-post">
                    <div class="post">
                      <figure class="post-thumb"><img alt="" src="https://templates.scriptsbundle.com/knowledge/demo/images/blog/small-1.png">
                      </figure>
                      <h4><a href="#">Differentiate Yourself And Attract More Attention </a></h4>
                      <div class="post-info">1 hour ago</div>
                    </div>

                    <div class="post">
                      <figure class="post-thumb"><img alt="" src="https://templates.scriptsbundle.com/knowledge/demo/images/blog/small-2.png">
                      </figure>
                      <h4><a href="#">Differentiate Yourself And Attract More Attention </a></h4>
                      <div class="post-info">1 hour ago</div>
                    </div>

                    <div class="post">
                      <figure class="post-thumb"><img alt="" src="https://templates.scriptsbundle.com/knowledge/demo/images/blog/small-3.png">
                      </figure>
                      <h4><a href="#">Differentiate Yourself And Attract More Attention </a></h4>
                      <div class="post-info">1 hour ago</div>
                    </div>

                    <div class="post">
                      <figure class="post-thumb"><img alt="" src="https://templates.scriptsbundle.com/knowledge/demo/images/blog/small-4.png">
                      </figure>
                      <h4><a href="#">Differentiate Yourself And Attract More Attention </a></h4>
                      <div class="post-info">1 hour ago</div>
                    </div>

                  </div>

                </div>
              </div>
              <!-- widget end -->

              <!-- widget -->
              <div class="widget">
                <div class="category">
                  <h2>Category</h2>
                  <hr class="widget-separator no-margin">
                  <ul>
                    <li><a href="#">Web Design </a> <span>33</span>
                    </li>
                    <li><a href="#">Graphic Design</a> <span>45</span>
                    </li>
                    <li><a href="#">App Development</a> <span>34</span>
                    </li>
                    <li><a href="#">3D Design</a> <span>7</span>
                    </li>
                    <li><a href="#">Plugin Development</a> <span>13</span>
                    </li>
                    <li><a href="#">Expert Review</a> <span>553</span>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- widget end -->

              <!-- widget -->
              <div class="widget">
                <div class="gallery">
                  <h2>Gallery</h2>
                  <hr class="widget-separator no-margin">
                  <div class="gallery-image">
                    <a href="#"><img alt="" src="https://templates.scriptsbundle.com/knowledge/demo/images/blog/small-5.png">
                    </a>
                    <a href="#"><img alt="" src="https://templates.scriptsbundle.com/knowledge/demo/images/blog/small-6.png">
                    </a>
                    <a href="#"><img alt="" src="https://templates.scriptsbundle.com/knowledge/demo/images/blog/small-7.png">
                    </a>
                    <a href="#"><img alt="" src="https://templates.scriptsbundle.com/knowledge/demo/images/blog/small-8.png">
                    </a>
                    <a href="#"><img alt="" src="https://templates.scriptsbundle.com/knowledge/demo/images/blog/small-9.png">
                    </a>
                    <a href="#"><img alt="" src="https://templates.scriptsbundle.com/knowledge/demo/images/blog/small-10.png">
                    </a>
                    <a href="#"><img alt="" src="https://templates.scriptsbundle.com/knowledge/demo/images/blog/small-1.png">
                    </a>
                    <a href="#"><img alt="" src="https://templates.scriptsbundle.com/knowledge/demo/images/blog/small-2.png">
                    </a>
                    <a href="#"><img alt="" src="https://templates.scriptsbundle.com/knowledge/demo/images/blog/small-3.png">
                    </a>
                    <a href="#"><img alt="" src="https://templates.scriptsbundle.com/knowledge/demo/images/blog/small-4.png">
                    </a>
                    <a href="#"><img alt="" src="https://templates.scriptsbundle.com/knowledge/demo/images/blog/small-11.png">
                    </a>
                    <a href="#"><img alt="" src="https://templates.scriptsbundle.com/knowledge/demo/images/blog/small-12.png">
                    </a>
                  </div>
                </div>
              </div>
              <!-- widget end -->

              <!-- widget -->
              <div class="widget">
                <div class="archive">
                  <h2>Archives</h2>
                  <hr class="widget-separator no-margin">
                  <ul>
                    <li><a href="#">August 2016</a> <span>13</span>
                    </li>
                    <li><a href="#">July 2016</a> <span>23</span>
                    </li>
                    <li><a href="#">June 2016 </a><span>322</span>
                    </li>
                    <li><a href="#">May 2016  </a><span>12</span>
                    </li>
                    <li><a href="#">April 2014 </a><span>333</span>
                    </li>

                  </ul>
                </div>
              </div>
              <!-- widget end -->

              <!-- widget -->
              <div class="widget">
                <div class="recent-comments">
                  <h2>Recent Comments</h2>
                  <hr class="widget-separator no-margin">
                  <ul id="recentcomments">
                    <li class="recentcomments"> <span class="comment-author-link">John Doe</span> on <a href="#">bootstrap vs foundation</a> </li>
                    <li class="recentcomments"> <span class="comment-author-link">Emily Copper</span> on <a href="#">how to get data from URL in PHP</a> </li>
                    <li class="recentcomments"> <span class="comment-author-link">Alex Martin</span> on <a href="#">My SQL PHP Multi Layer Drop Down List from Databse</a> </li>
                    <li class="recentcomments"> <span class="comment-author-link">Tina Martin</span> on <a href="#">PHP Multi Layer Drop Down List from Databse</a> </li>

                  </ul>
                </div>
              </div>
              <!-- widget end -->

              <!-- widget -->
              <div class="widget">
                <div class="widget_tag_cloud">
                  <h2>Tags cloud</h2>
                  <hr class="widget-separator no-margin">
                  <div class="tag_cloud">
                    <a href="#.">Hair</a>
                    <a href="#.">Waxing</a>
                    <a href="#.">Body</a>
                    <a href="#.">Oil</a>
                    <a href="#.">Facials</a>
                    <a href="#.">Cutting</a>

                    <a href="#.">Blowouts</a>
                    <a href="#.">Curling</a>
                    <a href="#.">Makeup</a>
                  </div>
                </div>
              </div>
              <!-- widget end -->

            </div>
            <!-- sidebar end -->

          </div>
          <!-- Blog Right Sidebar End -->

        </div>

        <!-- Row End -->
      </div>
      <!-- end container -->
    </section>
    <!-- =-=-=-=-=-=-= Blog & News end =-=-=-=-=-=-= -->

    <!-- =-=-=-=-=-=-= Our Clients =-=-=-=-=-=-= -->
    <section class="custom-padding" id="clients">
      <div class="container">

        <!-- Row -->
        <div class="row">

          <!-- col-md-2 client-block -->
          <div class="col-md-2 col-xs-6 col-sm-4 client-block">

            <!-- client-item client-item-style-2 -->
            <div class="client-item client-item-style-2">
              <a title="Client Logo" href="#"> <img alt="Clients Logo" src="https://templates.scriptsbundle.com/knowledge/demo/images/clients/client_5.png"> </a>
            </div>
            <!-- /client-item client-item-style-2 -->

          </div>
          <!-- /col-md-2 client-block -->

          <!-- col-md-2 client-block -->
          <div class="col-md-2 col-xs-6 col-sm-4 client-block">

            <!-- client-item client-item-style-2 -->
            <div class="client-item client-item-style-2">
              <a title="Client Logo" href="#"> <img alt="Clients Logo" src="https://templates.scriptsbundle.com/knowledge/demo/images/clients/client_6.png"> </a>
            </div>
            <!-- /client-item client-item-style-2 -->

          </div>
          <!-- /col-md-2 client-block -->

          <!-- col-md-2 client-block -->
          <div class="col-md-2 col-xs-6 col-sm-4 client-block">

            <!-- client-item client-item-style-2 -->
            <div class="client-item client-item-style-2">
              <a title="Client Logo" href="#"> <img alt="Clients Logo" src="https://templates.scriptsbundle.com/knowledge/demo/images/clients/client_7.png"> </a>
            </div>
            <!-- /client-item client-item-style-2 -->

          </div>
          <!-- /col-md-2 client-block -->

          <!-- col-md-2 client-block -->
          <div class="col-md-2 col-xs-6 col-sm-4 client-block">

            <!-- client-item client-item-style-2 -->
            <div class="client-item client-item-style-2">
              <a title="Client Logo" href="#"> <img alt="Clients Logo" src="https://templates.scriptsbundle.com/knowledge/demo/images/clients/client_8.png"> </a>
            </div>
            <!-- /client-item client-item-style-2 -->

          </div>
          <!-- /col-md-2 client-block -->

          <!-- col-md-2 client-block -->
          <div class="col-md-2 col-xs-6 col-sm-4 client-block">

            <!-- client-item client-item-style-2 -->
            <div class="client-item client-item-style-2">
              <a title="Client Logo" href="#"> <img alt="Clients Logo" src="https://templates.scriptsbundle.com/knowledge/demo/images/clients/client_9.png"> </a>
            </div>
            <!-- /client-item client-item-style-2 -->

          </div>
          <!-- /col-md-2 client-block -->

          <!-- col-md-2 client-block -->
          <div class="col-md-2 col-xs-6 col-sm-4 client-block">

            <!-- client-item client-item-style-2 -->
            <div class="client-item client-item-style-2">
              <a title="Client Logo" href="#"> <img alt="Clients Logo" src="https://templates.scriptsbundle.com/knowledge/demo/images/clients/client_10.png"> </a>
            </div>
            <!-- /client-item client-item-style-2 -->

          </div>
          <!-- /col-md-2 client-block -->

        </div>
        <!-- Row End -->

      </div>

      <!-- end container -->
    </section>
    <!-- =-=-=-=-=-=-= Our Clients -end =-=-=-=-=-=-= -->

  </div>
  <!-- =-=-=-=-=-=-= Main Area End =-=-=-=-=-=-= -->
  <script type="text/javascript">
    (function($) {
      "use strict";
      $('#posts-masonry').imagesLoaded(function() {
        $('#posts-masonry').isotope({
          layoutMode: 'masonry',
          transitionDuration: '0.3s'
        });
      });
    })(jQuery);
  </script>


  {% endblock %}