
	
	{% extends 'user/user-base.html' %}
	{% load static %}
	
	
	{% block content %}
	{% include 'user/includes/header_base.html' %}
	<!-- =-=-=-=-=-=-= HOME =-=-=-=-=-=-= -->
	<div class="full-section search-section">
		<div class="search-area container">
			<h3 class="search-title">Have a Question?</h3>
			<p class="search-tag-line">If you have any question you can ask below or enter what you are looking for!</p>
			<form autocomplete="off" method="get" class="search-form clearfix" id="search-form">
				<input type="text" title="* Please enter a search term!" placeholder="Type your search terms here" class="search-term" autocomplete="off">
				<input type="submit" value="Search" class="search-btn">
			</form>
		</div>
	</div>
	<!-- =-=-=-=-=-=-= HOME END =-=-=-=-=-=-= -->
	<!-- =-=-=-=-=-=-= Main Area =-=-=-=-=-=-= -->
	<div class="main-content-area">
		<!-- =-=-=-=-=-=-= Latest Questions  =-=-=-=-=-=-= -->
		<section class="white question-tabs padding-bottom-80" id="latest-post">
			<div class="container">
				<div class="row">
					<!-- Content Area Bar -->
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<!-- Tabs -->
								<ul class="nav panel-tabs">
									<li> <a data-toggle="tab" href="#tab1"><i class="icofont icon-ribbon"></i><span class="hidden-xs">Recent Questions</span></a> 
									</li>
									<li> <a data-toggle="tab" href="#tab2"><i class="icofont icon-layers"></i><span class="hidden-xs">Popular Responses</span></a> 
									</li>
									<li class="active"> <a data-toggle="tab" href="#tab3"><i class="icofont icon-global"></i><span class="hidden-xs">Recently Answered</span></a> 
									</li>
									<li> <a data-toggle="tab" href="#tab4"><i class="icofont icon-linegraph"></i><span class="hidden-xs">No answers</span></a> 
									</li>
								</ul>
							</div>
						</div>
						<div class="panel-body">
							<div class="tab-content">
								<div id="tab1" class="tab-pane active">
									<!-- Question Listing -->
									{% for que in question %}
									<div class="listing-grid">
										<div class="row">
											<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
												<a data-toggle="tooltip" data-placement="bottom" data-original-title="Martina Jaz" href="#">
													<img alt="" class="img-responsive center-block" src="#">
												</a>
											</div>
											<div class="col-md-7 col-sm-8  col-xs-12">
												<h3><a  href="{% url 'view_answer' que.id %}">{{que.question_title}}</a></h3>
												<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>{{que.created_at}}</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span> 
												</div>
											</div>
											<div class="col-md-3 col-sm-2 col-xs-12">
												<ul class="question-statistic">
													<li class="active"> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>2</span></a> 
													</li>
													<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>0</span></a> 
													</li>
												</ul>
											</div>
											<div class="col-md-10 col-sm-10  col-xs-12">
												<p>{{que.question|safe}}</p>
												<div class="pull-right tagcloud"> <a href="#">Php</a>  <a href="#">recursive</a>  <a href="#">error</a> 
												</div>
											</div>
										</div>
									</div>
									{% endfor %}
									<!-- Question Listing End -->
									
								</div>
								<div id="tab2" class="tab-pane">
									<!-- Question Listing -->
									<div class="listing-grid">
										<div class="row">
											<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
												<a data-toggle="tooltip" data-placement="bottom" data-original-title="Martina Jaz" href="#">
													<img alt="" class="correct img-responsive center-block" src="https://templates.scriptsbundle.com/knowledge/demo/images/authors/5.jpg">
												</a> <span class="tick2"> <i class="fa fa-check" aria-hidden="true"></i> </span> 
											</div>
											<div class="col-md-7 col-sm-8  col-xs-12">
												<h3><a  href="#"> Php recursive function not working right</a></h3>
												<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>8 mintes ago</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span>  <span><i class="fa fa-comment" aria-hidden="true"></i>50 Comment</span> 
												</div>
											</div>
											<div class="col-md-3 col-sm-2 col-xs-12">
												<ul class="question-statistic">
													<li class="active"> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>2</span></a> 
													</li>
													<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>0</span></a> 
													</li>
												</ul>
											</div>
											<div class="col-md-10 col-sm-10  col-xs-12">
												<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
												<div class="pull-right tagcloud"> <a href="#">Php</a>  <a href="#">recursive</a>  <a href="#">error</a> 
												</div>
											</div>
										</div>
									</div>
									<!-- Question Listing End -->
									<!-- Question Listing -->
									<div class="listing-grid ">
										<div class="row">
											<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
												<a data-toggle="tooltip" data-placement="bottom" data-original-title="James John" href="#">
													<img alt="" class=" img-responsive center-block" src="https://templates.scriptsbundle.com/knowledge/demo/images/authors/6.jpg">
												</a>
											</div>
											<div class="col-md-7 col-sm-8  col-xs-12">
												<h3><a  href="#"> How to retrieve RSS from multiple website</a></h3>
												<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>8 mintes ago</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span> 
												</div>
											</div>
											<div class="col-md-3 col-sm-2 col-xs-12">
												<ul class="question-statistic">
													<li class="active"> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>177</span></a> 
													</li>
													<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>2</span></a> 
													</li>
												</ul>
											</div>
											<div class="col-md-10 col-sm-10  col-xs-12">
												<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
												<div class="pull-right tagcloud"> <a href="#">rss-reader</a>  <a href="#">web</a> 
												</div>
											</div>
										</div>
									</div>
									<!-- Question Listing End -->
									<!-- Question Listing -->
									<div class="listing-grid ">
										<div class="row">
											<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
												<a data-toggle="tooltip" data-placement="bottom" data-original-title="Jessica" href="#">
													<img alt="" class=" img-responsive center-block" src="https://templates.scriptsbundle.com/knowledge/demo/images/authors/7.jpg">
												</a>
											</div>
											<div class="col-md-7 col-sm-8  col-xs-12">
												<h3><a  href="#"> Change navbar color in Twitter Bootstrap 3</a></h3>
												<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>8 mintes ago</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span> 
												</div>
											</div>
											<div class="col-md-3 col-sm-2 col-xs-12">
												<ul class="question-statistic">
													<li class="active"> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>9</span></a> 
													</li>
													<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>0</span></a> 
													</li>
												</ul>
											</div>
											<div class="col-md-10 col-sm-10  col-xs-12">
												<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
												<div class="pull-right tagcloud"> <a href="#">bootstrap</a>  <a href="#">navbar</a>  <a href="#">color</a> 
												</div>
											</div>
										</div>
									</div>
									<!-- Question Listing End -->
									<!-- Question Listing -->
									<div class="listing-grid ">
										<div class="row">
											<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
												<a data-toggle="tooltip" data-placement="bottom" data-original-title="Muhammad Umair" href="#">
													<img alt="" class="correct img-responsive center-block" src="https://templates.scriptsbundle.com/knowledge/demo/images/authors/8.jpg">
												</a> <span class="tick2"> <i class="fa fa-check" aria-hidden="true"></i> </span> 
											</div>
											<div class="col-md-7 col-sm-8  col-xs-12">
												<h3><a  href="#"> Choosing bootstrap vs material design</a></h3>
												<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>8 mintes ago</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span> 
												</div>
											</div>
											<div class="col-md-3 col-sm-2 col-xs-12">
												<ul class="question-statistic">
													<li class="active"> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>332</span></a> 
													</li>
													<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>55</span></a> 
													</li>
												</ul>
											</div>
											<div class="col-md-10 col-sm-10  col-xs-12">
												<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
												<div class="pull-right tagcloud"> <a href="#">bootstrap</a>  <a href="#">material</a> 
												</div>
											</div>
										</div>
									</div>
									<!-- Question Listing End -->
								</div>
								<div id="tab3" class="tab-pane">
									<!-- Question Listing -->
									<div class="listing-grid">
										<div class="row">
											<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
												<a data-toggle="tooltip" data-placement="bottom" data-original-title="Martina Jaz" href="#">
													<img alt="" class="correct img-responsive center-block" src="https://templates.scriptsbundle.com/knowledge/demo/images/authors/9.jpg">
												</a> <span class="tick2"> <i class="fa fa-check" aria-hidden="true"></i> </span> 
											</div>
											<div class="col-md-7 col-sm-8  col-xs-12">
												<h3><a  href="#"> Php recursive function not working right</a></h3>
												<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>8 mintes ago</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span> 
												</div>
											</div>
											<div class="col-md-3 col-sm-2 col-xs-12">
												<ul class="question-statistic">
													<li class="active"> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>2</span></a> 
													</li>
													<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>0</span></a> 
													</li>
												</ul>
											</div>
											<div class="col-md-10 col-sm-10  col-xs-12">
												<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
												<div class="pull-right tagcloud"> <a href="#">Php</a>  <a href="#">recursive</a>  <a href="#">error</a> 
												</div>
											</div>
										</div>
									</div>
									<!-- Question Listing End -->
									<!-- Question Listing -->
									<div class="listing-grid ">
										<div class="row">
											<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
												<a data-toggle="tooltip" data-placement="bottom" data-original-title="James John" href="#">
													<img alt="" class="correct img-responsive center-block" src="https://templates.scriptsbundle.com/knowledge/demo/images/authors/10.jpg">
												</a> <span class="tick2"> <i class="fa fa-check" aria-hidden="true"></i> </span> 
											</div>
											<div class="col-md-7 col-sm-8  col-xs-12">
												<h3><a  href="#"> How to retrieve RSS from multiple website</a></h3>
												<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>8 mintes ago</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span> 
												</div>
											</div>
											<div class="col-md-3 col-sm-2 col-xs-12">
												<ul class="question-statistic">
													<li class="active"> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>177</span></a> 
													</li>
													<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>2</span></a> 
													</li>
												</ul>
											</div>
											<div class="col-md-10 col-sm-10  col-xs-12">
												<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
												<div class="pull-right tagcloud"> <a href="#">rss-reader</a>  <a href="#">web</a> 
												</div>
											</div>
										</div>
									</div>
									<!-- Question Listing End -->
									<!-- Question Listing -->
									<div class="listing-grid ">
										<div class="row">
											<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
												<a data-toggle="tooltip" data-placement="bottom" data-original-title="Jessica" href="#">
													<img alt="" class="correct img-responsive center-block" src="https://templates.scriptsbundle.com/knowledge/demo/images/authors/11.jpg">
												</a> <span class="tick2"> <i class="fa fa-check" aria-hidden="true"></i> </span> 
											</div>
											<div class="col-md-7 col-sm-8  col-xs-12">
												<h3><a  href="#"> Change navbar color in Twitter Bootstrap 3</a></h3>
												<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>8 mintes ago</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span> 
												</div>
											</div>
											<div class="col-md-3 col-sm-2 col-xs-12">
												<ul class="question-statistic">
													<li class="active"> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>9</span></a> 
													</li>
													<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>0</span></a> 
													</li>
												</ul>
											</div>
											<div class="col-md-10 col-sm-10  col-xs-12">
												<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
												<div class="pull-right tagcloud"> <a href="#">bootstrap</a>  <a href="#">navbar</a>  <a href="#">color</a> 
												</div>
											</div>
										</div>
									</div>
									<!-- Question Listing End -->
									<!-- Question Listing -->
									<div class="listing-grid ">
										<div class="row">
											<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
												<a data-toggle="tooltip" data-placement="bottom" data-original-title="Muhammad Umair" href="#">
													<img alt="" class="correct img-responsive center-block" src="https://templates.scriptsbundle.com/knowledge/demo/images/authors/12.jpg">
												</a> <span class="tick2"> <i class="fa fa-check" aria-hidden="true"></i> </span> 
											</div>
											<div class="col-md-7 col-sm-8  col-xs-12">
												<h3><a  href="#"> Choosing bootstrap vs material design</a></h3>
												<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>8 mintes ago</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span> 
												</div>
											</div>
											<div class="col-md-3 col-sm-2 col-xs-12">
												<ul class="question-statistic">
													<li class="active"> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>332</span></a> 
													</li>
													<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>55</span></a> 
													</li>
												</ul>
											</div>
											<div class="col-md-10 col-sm-10  col-xs-12">
												<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
												<div class="pull-right tagcloud"> <a href="#">bootstrap</a>  <a href="#">material</a> 
												</div>
											</div>
										</div>
									</div>
									<!-- Question Listing End -->
								</div>
								<div id="tab4" class="tab-pane">
									<!-- Question Listing -->
									<div class="listing-grid">
										<div class="row">
											<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
												<a data-toggle="tooltip" data-placement="bottom" data-original-title="Martina Jaz" href="#">
													<img alt="" class=" img-responsive center-block" src="https://templates.scriptsbundle.com/knowledge/demo/images/authors/5.jpg">
												</a>
											</div>
											<div class="col-md-7 col-sm-8  col-xs-12">
												<h3><a  href="#"> Php recursive function not working right</a></h3>
												<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>8 mintes ago</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span>  <span><i class="fa fa-comment" aria-hidden="true"></i>50 Comment</span> 
												</div>
											</div>
											<div class="col-md-3 col-sm-2 col-xs-12">
												<ul class="question-statistic">
													<li class="active"> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>2</span></a> 
													</li>
													<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>0</span></a> 
													</li>
												</ul>
											</div>
											<div class="col-md-10 col-sm-10  col-xs-12">
												<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
												<div class="pull-right tagcloud"> <a href="#">Php</a>  <a href="#">recursive</a>  <a href="#">error</a> 
												</div>
											</div>
										</div>
									</div>
									<!-- Question Listing End -->
									<!-- Question Listing -->
									<div class="listing-grid ">
										<div class="row">
											<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
												<a data-toggle="tooltip" data-placement="bottom" data-original-title="James John" href="#">
													<img alt="" class=" img-responsive center-block" src="https://templates.scriptsbundle.com/knowledge/demo/images/authors/3.jpg">
												</a>
											</div>
											<div class="col-md-7 col-sm-8  col-xs-12">
												<h3><a  href="#"> How to retrieve RSS from multiple website</a></h3>
												<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>8 mintes ago</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span> 
												</div>
											</div>
											<div class="col-md-3 col-sm-2 col-xs-12">
												<ul class="question-statistic">
													<li class="active"> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>177</span></a> 
													</li>
													<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>2</span></a> 
													</li>
												</ul>
											</div>
											<div class="col-md-10 col-sm-10  col-xs-12">
												<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
												<div class="pull-right tagcloud"> <a href="#">rss-reader</a>  <a href="#">web</a> 
												</div>
											</div>
										</div>
									</div>
									<!-- Question Listing End -->
									<!-- Question Listing -->
									<div class="listing-grid ">
										<div class="row">
											<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
												<a data-toggle="tooltip" data-placement="bottom" data-original-title="Jessica" href="#">
													<img alt="" class=" img-responsive center-block" src="https://templates.scriptsbundle.com/knowledge/demo/images/authors/7.jpg">
												</a>
											</div>
											<div class="col-md-7 col-sm-8  col-xs-12">
												<h3><a  href="#"> Change navbar color in Twitter Bootstrap 3</a></h3>
												<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>8 mintes ago</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span> 
												</div>
											</div>
											<div class="col-md-3 col-sm-2 col-xs-12">
												<ul class="question-statistic">
													<li class="active"> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>9</span></a> 
													</li>
													<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>0</span></a> 
													</li>
												</ul>
											</div>
											<div class="col-md-10 col-sm-10  col-xs-12">
												<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
												<div class="pull-right tagcloud"> <a href="#">bootstrap</a>  <a href="#">navbar</a>  <a href="#">color</a> 
												</div>
											</div>
										</div>
									</div>
									<!-- Question Listing End -->
									<!-- Question Listing -->
									<div class="listing-grid ">
										<div class="row">
											<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
												<a data-toggle="tooltip" data-placement="bottom" data-original-title="Muhammad Umair" href="#">
													<img alt="" class=" img-responsive center-block" src="https://templates.scriptsbundle.com/knowledge/demo/images/authors/12.jpg">
												</a>
											</div>
											<div class="col-md-7 col-sm-8  col-xs-12">
												<h3><a  href="#"> Choosing bootstrap vs material design</a></h3>
												<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>8 mintes ago</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span> 
												</div>
											</div>
											<div class="col-md-3 col-sm-2 col-xs-12">
												<ul class="question-statistic">
													<li class="active"> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>332</span></a> 
													</li>
													<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>55</span></a> 
													</li>
												</ul>
											</div>
											<div class="col-md-10 col-sm-10  col-xs-12">
												<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
												<div class="pull-right tagcloud"> <a href="#">bootstrap</a>  <a href="#">material</a> 
												</div>
											</div>
										</div>
									</div>
									<!-- Question Listing End -->
								</div>
								<!-- Pagination View More -->
								<div class="text-center clearfix">
									<button class="btn btn-primary btn-lg">View All Question</button>
								</div>
								<!-- Pagination View More End -->
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<!-- end container -->
		</section>
		<!-- =-=-=-=-=-=-= Latest Questions  End =-=-=-=-=-=-= -->
		<!-- =-=-=-=-=-=-= SEPARATOR Fun Facts =-=-=-=-=-=-= -->
		<div class="parallex section-padding fun-facts-bg text-center" data-stellar-background-ratio="0.1">
			<div class="container">
				<div class="row">
					<!-- countTo -->
					<div class="col-xs-6 col-sm-3 col-md-3">
						<div class="statistic-percent" data-perc="356">
							<div class="facts-icons"> <span class="icon-trophy"></span> 
							</div>
							<div class="fact"> <span class="percentfactor">356</span>
								<p>Happy Clients</p>
							</div>
							<!-- end fact -->
						</div>
						<!-- end statistic-percent -->
					</div>
					<!-- end col-xs-6 col-sm-3 col-md-3 -->
					<!-- countTo -->
					<div class="col-xs-6 col-sm-3 col-md-3">
						<div class="statistic-percent" data-perc="126">
							<div class="facts-icons"> <span class="icon-trophy"></span> 
							</div>
							<div class="fact"> <span class="percentfactor">126</span>
								<p>Order Received</p>
							</div>
							<!-- end fact -->
						</div>
						<!-- end statistic-percent -->
					</div>
					<!-- end col-xs-6 col-sm-3 col-md-3 -->
					<!-- countTo -->
					<div class="col-xs-6 col-sm-3 col-md-3">
						<div class="statistic-percent" data-perc="274">
							<div class="facts-icons"> <span class="icon-chat"></span> 
							</div>
							<div class="fact"> <span class="percentfactor">274</span>
								<p>Free Delivery</p>
							</div>
							<!-- end fact -->
						</div>
						<!-- end statistic-percent -->
					</div>
					<!-- end col-xs-6 col-sm-3 col-md-3 -->
					<!-- countTo -->
					<div class="col-xs-6 col-sm-3 col-md-3">
						<div class="statistic-percent" data-perc="434">
							<div class="facts-icons"> <span class="icon-megaphone"></span> 
							</div>
							<div class="fact"> <span class="percentfactor">434</span>
								<p>Completed Projects</p>
							</div>
							<!-- end fact -->
						</div>
						<!-- end statistic-percent -->
					</div>
					<!-- end col-xs-6 col-sm-3 col-md-3 -->
				</div>
				<!-- End row -->
			</div>
			<!-- end container -->
		</div>
		<!-- =-=-=-=-=-=-= SEPARATOR END =-=-=-=-=-=-= -->
		<!-- =-=-=-=-=-=-= Blog & News =-=-=-=-=-=-= -->
		<section id="blog" class="custom-padding">
			<div class="container">
				<!-- title-section -->
				<div class="main-heading text-center">
					<h2>Latest Articles</h2>
					<div class="slices"><span class="slice"></span><span class="slice"></span><span class="slice"></span>
					</div>
					<p>Cras varius purus in tempus porttitor ut dapibus efficitur sagittis cras vitae lacus metus nunc vulputate facilisis nisi
						<br>eu lobortis erat consequat ut. Aliquam et justo ante. Nam a cursus velit</p>
				</div>
				<!-- End title-section -->
				<!-- Row -->
				<div class="row">
					<!-- Blog Grid -->
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
						<div class="blog-grid">
							<div class="blog-image">
								<img alt="blog-image1" class="img-responsive" src="https://templates.scriptsbundle.com/knowledge/demo/images/blog/1.jpg">
							</div>
							<div class="blog-content">
								<h5><a href="https://templates.scriptsbundle.com/knowledge/demo/blog-detail.html">How to prevent my website from being scrolled horizontally?</a></h5>
								<ul class="post-meta">
									<li>By Admin</li>
									<li>Php</li>
									<li>27 July 2016</li>
								</ul>
								<p>We can make table scrollable by adding table-responsive class to it, but how can we loop it so that once the loop ends..</p>
							</div>
							<div class="blog-footer">
								<ul class="like-comment">
									<li><a href="#"><i class="icon-heart"></i>23</a>
									</li>
									<li><a href="#"><i class="icon-chat"></i>32</a>
									</li>
								</ul> <a href="#" class="more-btn pull-right"><i class="fa fa-long-arrow-right"></i> MORE</a> 
							</div>
						</div>
					</div>
					<!-- Blog Grid -->
					<!-- Blog Grid -->
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
						<div class="blog-grid">
							<div class="blog-image">
								<img alt="blog-image1" class="img-responsive" src="https://templates.scriptsbundle.com/knowledge/demo/images/blog/2.jpg">
							</div>
							<div class="blog-content">
								<h5><a href="https://templates.scriptsbundle.com/knowledge/demo/blog-detail.html">What's the best way to implement a 2D interval search in C++?</a></h5>
								<ul class="post-meta">
									<li>By Admin</li>
									<li>Php</li>
									<li>27 July 2016</li>
								</ul>
								<p>We can make table scrollable by adding table-responsive class to it, but how can we loop it so that once the loop ends..</p>
							</div>
							<div class="blog-footer">
								<ul class="like-comment">
									<li><a href="#"><i class="icon-heart"></i>23</a>
									</li>
									<li><a href="#"><i class="icon-chat"></i>32</a>
									</li>
								</ul> <a href="#" class="more-btn pull-right"><i class="fa fa-long-arrow-right"></i> MORE</a> 
							</div>
						</div>
					</div>
					<!-- Blog Grid -->
					<!-- Blog Grid -->
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
						<div class="blog-grid">
							<div class="blog-image">
								<img alt="blog-image1" class="img-responsive" src="https://templates.scriptsbundle.com/knowledge/demo/images/blog/3.jpg">
							</div>
							<div class="blog-content">
								<h5><a href="https://templates.scriptsbundle.com/knowledge/demo/blog-detail.html"> Access a list within an element of a Pandas DataFrame </a></h5>
								<ul class="post-meta">
									<li>By Admin</li>
									<li>Php</li>
									<li>27 July 2016</li>
								</ul>
								<p>We can make table scrollable by adding table-responsive class to it, but how can we loop it so that once the loop ends..</p>
							</div>
							<div class="blog-footer">
								<ul class="like-comment">
									<li><a href="#"><i class="icon-heart"></i>23</a>
									</li>
									<li><a href="#"><i class="icon-chat"></i>32</a>
									</li>
								</ul> <a href="#" class="more-btn pull-right"><i class="fa fa-long-arrow-right"></i> MORE</a> 
							</div>
						</div>
					</div>
					<!-- Blog Grid -->
					<div class="clearfix"></div>
					<div class="text-center clearfix section-padding-40"> <a href="javascript:void(0)" class="btn btn-lg btn-primary">View all Blog Post</a> 
					</div>
					<div class="clearfix"></div>
				</div>
				<!-- Row End -->
			</div>
			<!-- end container -->
		</section>
		<!-- =-=-=-=-=-=-= Blog & News end =-=-=-=-=-=-= -->
		<!-- =-=-=-=-=-=-= Testimonials =-=-=-=-=-=-= -->
		<section data-stellar-background-ratio="0.1" class="testimonial-bg parallex">
			<div class="container">
				<!-- Row -->
				<div class="row">
					<!-- Blog Grid -->
					<div class="col-md-8 ">
						<div id="owl-slider" class="happy-client">
							<div class="item"> <i class="fa fa-quote-left"> </i>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.</p>
								<div class="client-info-wrap clearfix">
									<div class="client-img">
										<img class="img-circle" src="http://theemon.com/d/designagency/LivePreview/assets/images/client-img-two.jpg" alt="" />
									</div>
									<div class="client-info"> <strong> Muhammad Umair </strong>  <i class="fa fa-star grey-star"> </i>  <i class="fa fa-star"> </i>  <i class="fa fa-star"> </i>  <i class="fa fa-star"> </i>  <i class="fa fa-star"> </i> 
									</div>
								</div>
							</div>
							<div class="item"> <i class="fa fa-quote-left"> </i>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.</p>
								<div class="client-info-wrap clearfix">
									<div class="client-img">
										<img class="img-circle" src="http://theemon.com/d/designagency/LivePreview/assets/images/client-img-two.jpg" alt="" />
									</div>
									<div class="client-info"> <strong> Muhammad Umair </strong>  <i class="fa fa-star grey-star"> </i>  <i class="fa fa-star"> </i>  <i class="fa fa-star"> </i>  <i class="fa fa-star"> </i>  <i class="fa fa-star"> </i> 
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Blog Grid -->
					<!-- Blog Grid -->
					<div class="col-md-4 no-padding">
						<div class="success-stories">
							<div class="main-heading text-center">
								<h2>Success Stories</h2>
								<hr class="main">
								<p>Cras varius purus in tempus porttitor ut dapibus efficitur sagittis cras vitae lacus metus nunc vulputate facilisis nisi
									<br>eu lobortis erat consequat ut. Aliquam et justo ante. Nam a cursus velit</p>
							</div>
						</div>
					</div>
					<!-- Blog Grid -->
					<div class="clearfix"></div>
				</div>
				<!-- Row End -->
			</div>
			<!-- end container -->
		</section>
		<!-- =-=-=-=-=-=-= Testimonials  =-=-=-=-=-=-= -->
		<!-- =-=-=-=-=-=-= Our Clients =-=-=-=-=-=-= -->
		<section class="custom-padding" id="clients">
			<div class="container">
				<!-- Row -->
				<div class="row">
					<!-- col-md-2 client-block -->
					<div class="col-md-2 col-sm-4 col-xs-6 client-block">
						<!-- client-item client-item-style-2 -->
						<div class="client-item client-item-style-2">
							<a title="Client Logo" href="#">
								<img alt="Clients Logo" src="https://templates.scriptsbundle.com/knowledge/demo/images/clients/client_5.png">
							</a>
						</div>
						<!-- /client-item client-item-style-2 -->
					</div>
					<!-- /col-md-2 client-block -->
					<!-- col-md-2 client-block -->
					<div class="col-md-2 col-xs-6 col-sm-4 client-block">
						<!-- client-item client-item-style-2 -->
						<div class="client-item client-item-style-2">
							<a title="Client Logo" href="#">
								<img alt="Clients Logo" src="https://templates.scriptsbundle.com/knowledge/demo/images/clients/client_6.png">
							</a>
						</div>
						<!-- /client-item client-item-style-2 -->
					</div>
					<!-- /col-md-2 client-block -->
					<!-- col-md-2 client-block -->
					<div class="col-md-2  col-xs-6 col-sm-4 client-block">
						<!-- client-item client-item-style-2 -->
						<div class="client-item client-item-style-2">
							<a title="Client Logo" href="#">
								<img alt="Clients Logo" src="https://templates.scriptsbundle.com/knowledge/demo/images/clients/client_7.png">
							</a>
						</div>
						<!-- /client-item client-item-style-2 -->
					</div>
					<!-- /col-md-2 client-block -->
					<!-- col-md-2 client-block -->
					<div class="col-md-2 col-xs-6 col-sm-4 client-block">
						<!-- client-item client-item-style-2 -->
						<div class="client-item client-item-style-2">
							<a title="Client Logo" href="#">
								<img alt="Clients Logo" src="https://templates.scriptsbundle.com/knowledge/demo/images/clients/client_8.png">
							</a>
						</div>
						<!-- /client-item client-item-style-2 -->
					</div>
					<!-- /col-md-2 client-block -->
					<!-- col-md-2 client-block -->
					<div class="col-md-2 col-xs-6 col-sm-4 client-block">
						<!-- client-item client-item-style-2 -->
						<div class="client-item client-item-style-2">
							<a title="Client Logo" href="#">
								<img alt="Clients Logo" src="https://templates.scriptsbundle.com/knowledge/demo/images/clients/client_9.png">
							</a>
						</div>
						<!-- /client-item client-item-style-2 -->
					</div>
					<!-- /col-md-2 client-block -->
					<!-- col-md-2 client-block -->
					<div class="col-md-2 col-xs-6 col-sm-4 client-block">
						<!-- client-item client-item-style-2 -->
						<div class="client-item client-item-style-2">
							<a title="Client Logo" href="#">
								<img alt="Clients Logo" src="https://templates.scriptsbundle.com/knowledge/demo/images/clients/client_10.png">
							</a>
						</div>
						<!-- /client-item client-item-style-2 -->
					</div>
					<!-- /col-md-2 client-block -->
				</div>
				<!-- Row End -->
			</div>
			<!-- end container -->
		</section>
		<!-- =-=-=-=-=-=-= Our Clients -end =-=-=-=-=-=-= -->
        
		<!-- =-=-=-=-=-=-= Download Apps =-=-=-=-=-=-= -->
		<div class="parallex section-padding  our-apps text-center">
			<div class="container">
				<!-- title-section -->
				<div class="main-heading text-center">
					<h2>Download Our Apps</h2>
					<hr class="main">
				</div>
				<!-- End title-section -->
				<div class="row">
					<div class="app-content">
						<!-- Single download start \-->
						<div class="col-md-4 col-sm-4">
							<a href="#" class="app-grid"> <span class="app-icon"> <img alt="#" src="https://templates.scriptsbundle.com/knowledge/demo/images/mobile.png"> </span>
								<div class="app-title">
									<h5>Available on the</h5>
									<h3>iOS App Store</h3>
								</div>
							</a>
						</div>
						<!--/ Single download end-->
						<!-- Single download start \-->
						<div class="col-md-4 col-sm-4">
							<a href="#" class="app-grid"> <span class="app-icon"> <img alt="#" src="https://templates.scriptsbundle.com/knowledge/demo/images/play-store.png"> </span>
								<div class="app-title">
									<h5>Available on the</h5>
									<h3>Google Store</h3>
								</div>
							</a>
						</div>
						<!--/ Single download end-->
						<!-- Single download start \-->
						<div class="col-md-4  col-sm-4">
							<a href="#" class="app-grid"> <span class="app-icon"> <img alt="#" src="https://templates.scriptsbundle.com/knowledge/demo/images/windows.png"> </span>
								<div class="app-title">
									<h5>Available on the</h5>
									<h3>Windows Store</h3>
								</div>
							</a>
						</div>
						<!--/ Single download end-->
					</div>
				</div>
				<!-- End row -->
			</div>
			<!-- end container -->
		</div>
		<!-- =-=-=-=-=-=-= Download Apps END =-=-=-=-=-=-= -->
        
	</div>
	<!-- =-=-=-=-=-=-= Main Area End =-=-=-=-=-=-= -->
	<section id="social-media">
		<div class="block no-padding">
			<div class="row">
				<div class="col-md-12">
					<div class="social-bar">
						<ul>
							<li class="social1">
								<a title="" href="#">
									<img alt="" src="https://templates.scriptsbundle.com/knowledge/demo/images/facebook.png"> <span>Join Us On<strong>FACEBOOK</strong></span> 
								</a>
							</li>
							<li class="social2">
								<a title="" href="#">
									<img alt="" src="https://templates.scriptsbundle.com/knowledge/demo/images/twitter.png"> <span>Join Us On<strong>TWIITER</strong></span> 
								</a>
							</li>
							<li class="social3">
								<a title="" href="#">
									<img alt="" src="https://templates.scriptsbundle.com/knowledge/demo/images/google-plus.png"> <span>Join Us On<strong>GOOGLE PLUS</strong></span> 
								</a>
							</li>
							<li class="social4">
								<a title="" href="#">
									<img alt="" src="https://templates.scriptsbundle.com/knowledge/demo/images/linkedin.png"> <span>Join Us On<strong>LINKED IN</strong></span> 
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% endblock %}