{% extends 'user/user-base.html' %}
{% load static %}


{% block content %}
{% include 'user/includes/header_base.html' %}
<!-- =-=-=-=-=-=-= HOME =-=-=-=-=-=-= -->


<style>
	.listing-grid img {
		width: 485px;
		height: 300px;
	}
</style>


<div class="full-section search-section">
	<div class="search-area container">
		<h3 class="search-title">Have a Question?</h3>
		<p class="search-tag-line">If you have any question you can ask below or enter what you are looking for!</p>

		<form autocomplete="off" method="POST" class="search-form clearfix" id="search-form"
			action="{% url 'question_from_index' %}">
			{% csrf_token %}
			<input type="text" id="searchField" name="title" title="* Please enter a search term!"
				placeholder="Type your search terms here" class="search-term" autocomplete="off">
			<input type="submit" value="ASK" class="search-btn">
		</form>


	</div>
</div>
<div class="main-content-area">
	<!-- =-=-=-=-=-=-= Latest Questions  =-=-=-=-=-=-= -->
	<section class="white question-tabs padding-bottom-80" id="latest-post">
		<div class="container">
			<div class="row">
				<!-- Content Area Bar -->
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<!-- Tabs -->
							<ul class="nav panel-tabs">
								<li class="active"> <a data-toggle="tab" href="#tab1"><i class="fas fa-angle-right"></i><span class="hidden-xs"></span>Recent
										Questions</a>
								</li>
								<li> <a data-toggle="tab" href="#tab2"><i class="fas fa-angle-right"></i><span
											class="hidden-xs">Popular Responses</span></a>
								</li>
								<li> <a data-toggle="tab" href="#tab3"><i class="fas fa-angle-right"></i></i><span
											class="hidden-xs"></span>Recently Answered </a>
								</li>
								<li> <a data-toggle="tab" href="#tab4"><i class="fas fa-angle-right"></i></i><span
											class="hidden-xs">No answers</span></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="panel-body">
						<div class="tab-content">
							{% for que in question %}
							<div id="tab1" class="tab-pane active app-table ">
								<div class="listing-grid">
									<div class="row ">
								
										<div class="col-md-7 col-sm-8  col-xs-12">
											<h3><a href="{% url 'view_answer' que.slug %}">{{que.question_title}}</a>
											</h3>
											<div class="listing-meta"> <span><i class="fa fa-clock-o"
														aria-hidden="true"></i>{{que.created_at}}</span> <span>
															<!-- <i
														class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span> -->
											</div>
										</div>
										
									</div>
								</div>
							</div>
							{% endfor %}

							<div class="table-output">
								<div id="tab1" class="tab-pane active list-body">

								</div>
							</div>

							<div id="tab2" class="tab-pane">
								<!-- Question Listing -->
								{% for question in popular_questions %}
								<div class="listing-grid">
									<div class="row">
										
										<div class="col-md-7 col-sm-8  col-xs-12">
											<h3><a href="{% url 'view_answer' question.slug %}"> {{question.question_title}}</a></h3>
											<div class="listing-meta"> <span><i class="fa fa-clock-o"
														aria-hidden="true"></i>{{question.created_at}}</span> 
														<!-- <span>
															<i
														class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span> -->
												
											</div>
										</div>
										
										<!-- <div class="col-md-10 col-sm-10  col-xs-12">
											<p>{{question.question|safe}}</p>
											<div class="pull-right tagcloud"> <a href="#">Php</a> <a
													href="#">recursive</a> <a href="#">error</a>
											</div>
										</div> -->
									</div>
								</div>
								{% endfor %}
								
							</div>
							<!-- <div class="table-output">
								<div id="tab1" class="tab-pane active list-body">

								</div>
							</div> -->
							<div id="tab3" class="tab-pane">
								<!-- Question Listing -->
								{% for answered in recently_answered %}
								<div class="listing-grid">
									<div class="row">
									
										<div class="col-md-7 col-sm-8  col-xs-12">
											<h3><a href="{% url 'view_answer' answered.slug %}"> {{answered.question_title}}</a></h3>
											<div class="listing-meta"> <span><i class="fa fa-clock-o"
														aria-hidden="true"></i>{{answered.created_at}}</span> 
														<!-- <span><i
														class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span> -->
											</div>
										</div>
<!-- 										
										<div class="col-md-10 col-sm-10  col-xs-12">
											<p>{{answered.question|safe}}</p>
											<div class="pull-right tagcloud"> <a href="#">Php</a> <a
													href="#">recursive</a> <a href="#">error</a>
											</div>
										</div> -->
									</div>
								</div>
								{% endfor %}
			
							</div>
							<div id="tab4" class="tab-pane">
						
								{% for no_answer in not_answered %}
								<div class="listing-grid">
									<div class="row">
										
										<div class="col-md-7 col-sm-8  col-xs-12">
											<h3><a href="{% url 'view_answer' no_answer.slug %}"> {{no_answer.question_title}}</a></h3>
											<div class="listing-meta"> <span><i class="fa fa-clock-o"
														aria-hidden="true"></i>{{no_answer.created_at}}</span>
														 <!-- <span><i
														class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span>
												<span><i class="fa fa-comment" aria-hidden="true"></i>50 Comment</span> -->
											</div>
										</div>
										
										<!-- <div class="col-md-10 col-sm-10  col-xs-12">
											<p>{{no_answer.question|safe}}</p>
											<div class="pull-right tagcloud"> <a href="#">Php</a> <a
													href="#">recursive</a> <a href="#">error</a>
											</div>
										</div> -->
									</div>
								</div>
								{% endfor %}
				
							</div>
		
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<!-- end container -->
	</section>
	
</div>
<!-- =-=-=-=-=-=-= Main Area End =-=-=-=-=-=-= -->

<script src="{% static '/js/js/registerSw.js' %}"></script>
<script src="{% static '/js/js/site.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
	const searchField = document.querySelector("#searchField")
	const tableOutput = document.querySelector(".table-output")
	const AppTable = document.querySelector(".app-table")
	const listBody = document.querySelector(".list-body")


	tableOutput.style.display = 'none'

	searchField.addEventListener("keyup", (e) => {
		const searchvalue = e.target.value;

		if (searchvalue.trim().length > 0) {
			listBody.innerHTML = ""
	
			$.ajax({
				url: "{% url 'search_filter' %}",
				type: "GET",
				data: { 'search': searchvalue },

				success: function (body) {

					AppTable.style.display = 'none'
					tableOutput.style.display = 'block'
					console.log(body.length,'44444')
					if (body.length === 0) {
						console.log(body.length,'444eeeee44')
						tableOutput.innerHTML = `<h1> No Result Found </h1>`
					} else {
						body.forEach((items) => {
							console.log(items.question_title);

							listBody.innerHTML += `
                                    <div class="listing-grid">
										<div class="row">
											
											<div class="col-md-7 col-sm-8  col-xs-12">
												<h3><a  href="/view_answer/items.slug">${items.question_title}</a></h3>
												<div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>${items.created_at}</span>  <span><i class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span> 
												</div>
											</div>
											<div class="col-md-3 col-sm-2 col-xs-12">
												<ul class="question-statistic">
													<li class="active"> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Answers"><span>2</span></a> 
													</li>
													<li> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Votes"><span>0</span></a> 
													</li>
												</ul>
											</div>
											<div class="col-md-10 col-sm-10  col-xs-12">
												<p>${items.question}</p>
												<div class="pull-right tagcloud"> <a href="#">{{que.tags.tag_name}}</a>  <a href="#">recursive</a>  <a href="#">error</a> 
												</div>
											</div>
										</div>
									</div>                                                              
                                    `;

						})
					}
				}
			});

		} else {
			tableOutput.style.display = 'none'
			AppTable.style.display = 'block'
		}
	})
</script>


{% endblock %}