
{% extends 'user/user-base.html' %}
{% load static %}
{% load socialaccount %}
    {% block content %}
  <!-- =-=-=-=-=-=-= PRELOADER =-=-=-=-=-=-= -->
  <div class="preloader"><span class="preloader-gif"></span>
  </div>
  <!-- =-=-=-=-=-=-= HEADER =-=-=-=-=-=-= -->
  <div class="top-bar">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-4">
				<ul class="top-nav nav-left">
					<li><a href="{% url 'index' %}">Home</a>
					</li>
					<li class="hidden-xs"><a href="{% url 'view_blog' %}">Blog</a>
					</li>
					<li  class="hidden-xs"><a >Contact Us</a>
					</li>
				</ul>
			</div>
			<div class="col-lg-8 col-md-8 col-sm-6 col-xs-8">
				<ul class="top-nav nav-right">
					<li><a href="{% url 'login_view' %}"><i class="fa fa-lock" aria-hidden="true"></i>Login</a>
					</li>
					
					
				</ul>
			</div>
		</div>
	</div>
</div>
  <!-- =-=-=-=-=-=-= HEADER Navigation =-=-=-=-=-=-= -->
  <!-- HEADER Navigation End -->

  <!-- =-=-=-=-=-=-= Main Area =-=-=-=-=-=-= -->
  <div class="main-content-area">

    <!-- =-=-=-=-=-=-= Page Breadcrumb =-=-=-=-=-=-= -->
    <section class="page-title">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-7 co-xs-12 text-left">
            <h1>Create Account</h1>
          </div>
          <!-- end col -->
          <div class="col-md-6 col-sm-5 co-xs-12 text-right">
            <div class="bread">
              <ol class="breadcrumb">
                <li><a href="#">Home</a>
                </li>
                <li><a href="#">Pages</a>
                </li>
                <li class="active">SIgn Up</li>
              </ol>
            </div>
            <!-- end bread -->
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </section>

    <!-- =-=-=-=-=-=-= Page Breadcrumb End =-=-=-=-=-=-= -->

    <!-- =-=-=-=-=-=-= Register Form =-=-=-=-=-=-= -->
    <section class="section-padding-80 white" id="register">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">

            <div class="box-panel" style="box-shadow: rgb(218, 215, 215) 3px 3px 12px; border-radius: 10px;">

              <a href="{% provider_login_url 'google' %}" class="btn btn-default google"><i class="fa fa-google-plus icons"></i> Sign up with Google</a> 

              <!-- buttons top -->
              <!-- <a href="#" class="btn btn-default facebook"><i class="fa fa-facebook icons"></i> Sign Up with Facebook</a>
              <a href="#" class="btn btn-default google"><i class="fa fa-google-plus icons"></i> Sign Up with Google</a> -->
              <!-- end buttons top -->

              <!-- <p class="text-center margin-top-10"><span class="span-line">OR</span>
              </p> -->

              <!-- form login -->
              <!-- <form>
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" placeholder="Your Full Name" class="form-control">
                </div>
                <div class="form-group">
                  <label>Email</label>
                  <input type="email" placeholder="Your Email" class="form-control">
                </div>
                <div class="form-group">
                  <label>Password</label>
                  <input type="password" placeholder="Your Password" class="form-control">
                </div>
                <div class="form-group">
                  <label>Confirm Password</label>
                  <input type="password" placeholder="Verify Your Password" class="form-control">
                </div>
                <div class="form-group">
                  <div class="row">

                    <div class="col-xs-12 text-right">
                      <p class="help-block"><a data-toggle="modal" href="https://templates.scriptsbundle.com/knowledge/demo/login.html">Already Register Sing In</a>
                      </p>
                    </div>
                  </div>
                </div>

                <button class="btn btn-primary btn-lg btn-block">Create Account</button>

              </form> -->
              <form action="/account/register/" method="POST">
               {% csrf_token %}
            
                <div class="form-group">
                  <label>First Name</label>
                  <input type="text" name="first_name" maxlength="150" class="form-control" id="id_first_name"  onblur="validateName()">
                  <span class='error-message' id='name-error' style="font-size:small"></span>
                </div>
                <div class="form-group">
                  <label>Last Name</label>
                  <input type="text" name="last_name" maxlength="150" class="form-control" id="id_last_name" onblur="validateLname()">
                  <span class='error-message' id='lname-error' style="font-size:small"></span>
                </div>
                <div class="form-group">
                  <label>Email</label>
                  <input type="email" name="email" maxlength="254" class="form-control" id="id_email" onblur="validateEmail()">
                  <span class='error-message' id='email-error' style="font-size:small"></span>
                </div>
                <div class="form-group">
                  <label>Phone</label>
                  <input type="text" name="phone" maxlength="50" class="form-control" required id="id_phone" onblur="validatePhone()">
                  <span class='error-message' id='phone-error' style="font-size:small"></span>
                </div>
                <div class="form-group">
                  <label>Password</label>
                  <input type="password" name="password1" autocomplete="new-password" class="form-control" required id="id_password1">
                </div>
                <div class="form-group">
                  <label>Confirm-Password</label>
                  <input type="password" name="password2" autocomplete="new-password" class="form-control" required id="id_password2" oninput="validatePassword()">
                  <span class='error-message' id='password-error' style="font-size:small"></span>
                </div>
                <p class="form-submit text-center" >
                    <input type="submit" value="Signup" class="btn btn-md btn-default">
                </p>
            </form>

              <!-- form login -->

            </div>
          </div>

          <div class="clearfix"></div>
        </div>
      </div>
    </section>
  </div>



  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

  <script>

$(document).ready(function () {
$("#id_email").change(function () {
  var email = $(this).val();
  console.log(email);

  $.ajax({
    url: '/accounts/validate_email/',
    data: {
      'email': email
    },
    dataType: 'json',
    success: function (data) {
      console.log(data);
      if (data.is_taken) {

        producePrompt('Email already taken', 'email-error', 'red');
        $("#id_email").val('')
      }
      else {
        producePrompt('Available', 'email-error', 'green');
      }
    }
  });

});
});
  </script>

<script>
function validateName() {

var name = document.getElementById('id_first_name').value;

if(name.length == 0) {

  producePrompt('Name is required', 'name-error' , 'red')
  return false;

}

if (!name.match(/^[A-Za-z]+$/)) {

  producePrompt('Only Alphabets allowed','name-error', 'red');
  return false;

}


producePrompt('', 'name-error', 'green');
return true;

}
function validateLname() {

var name = document.getElementById('id_last_name').value;

if(name.length == 0) {

  producePrompt('last name is required', 'lname-error' , 'red')
  return false;

}

if (!name.match(/^[A-Za-z]+$/)) {

  producePrompt('Only Alphabets allowed','lname-error', 'red');
  return false;

}


producePrompt('', 'lname-error', 'green');
return true;

}

function validatePhone() {

var phone = document.getElementById('id_phone').value;

  if(phone.length == 0) {
    producePrompt('Phone number is required.', 'phone-error', 'red');
    return false;
  }
  if(phone.length != 10) {
    producePrompt('Enter a valid number', 'phone-error', 'red');
    return false;
  }


  if(!phone.match(/^[0-9]{10}$/)) {
    producePrompt('Only numbers Allowed' ,'phone-error', 'red');
    return false;
  }

  
  
  producePrompt('', 'phone-error', 'green');
  return true;

}

function validateEmail () {

var email = document.getElementById('id_email').value;

if(email.length == 0) {

  producePrompt('Email Required','email-error', 'red');
  return false;

}

if(!email.match(/^[A-Za-z\._\-[0-9]*[@][A-Za-z]*[\.][a-z]{2,4}$/)) {

  producePrompt('Invalid Email', 'email-error', 'red');
  return false;

}

producePrompt('', 'email-error', 'green');
return true;

}

function validatePassword () {

var password2 = document.getElementById('id_password2').value;
var password1 = document.getElementById('id_password1').value;

if(!password2.match(password1)) {

  producePrompt('Password not Matching','password-error', 'red');
  return false;

}}


function validateForm() {
if (!validateName() && !validatePhone() && !validateEmail()) {
  jsShow('submit-error');
  producePrompt(' ', 'submit-error', 'red');
  setTimeout(function(){jsHide('submit-error');}, 2000);
}
else {

}
}

function jsShow(id) {
document.getElementById(id).style.display = 'block';
}

function jsHide(id) {
document.getElementById(id).style.display = 'none';
}




function producePrompt(message, promptLocation, color) {

document.getElementById(promptLocation).innerHTML = message;
document.getElementById(promptLocation).style.color = color;


}

</script>

             {% endblock %}