{% extends 'user/user-base.html' %}
{% load static %}


{% block content %}
{% include 'user/includes/header_base.html' %}




  <!-- =-=-=-=-=-=-= Main Area =-=-=-=-=-=-= -->
  <div class="main-content-area">

    <!-- =-=-=-=-=-=-= Page Breadcrumb =-=-=-=-=-=-= -->
    <section class="page-title">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-7 co-xs-12 text-left">
            <h1>Question Details</h1>
          </div>
          <!-- end col -->
          <div class="col-md-6 col-sm-5 co-xs-12 text-right">
            <div class="bread">
              <ol class="breadcrumb">
                <li><a href="#">Home</a>
                </li>
                <li><a href="#">Pages</a>
                </li>
                <li class="active">Question</li>
              </ol>
            </div>
            <!-- end bread -->
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </section>

    <!-- =-=-=-=-=-=-= Page Breadcrumb End =-=-=-=-=-=-= -->

    <!-- =-=-=-=-=-=-= Question Details =-=-=-=-=-=-= -->

    <section class="section-padding-80 white question-details">
      <div class="container">
        <!-- Row -->
        <div class="row">
          <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
            <!-- Question Detail -->
			{% for que in question %}
            <!-- Question Listing -->
            <div class="listing-grid ">
              <div class="row">
                
               
                
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="pad-ver pull-left" style="padding-right: 2rem;">
                  
                    <button onclick="up_vote('{{que.id}}')" id="upvoting" class="btn btn-sm btn-primary" ><i class="fas fa-chevron-up"></i></button> <br>
                    
                    <input id="counterq{{que.id}}" type="text" readonly value="{{que.vote_total}}"  style="width: 3rem; border: none;">
                    <br>
                    <button onclick="down_vote('{{que.id}}')" id="downvoting" class="btn btn-sm btn-primary" ><i class="fas fa-chevron-down"></i></button>
                    </div>
                  <h3><a href="#"> {{que.question_title}}</a> </h3>
                  {%if author%}
                  <a href="{%url 'edit_question' que.slug %}"><i class="far fa-edit"></i>edit</a>
                {%endif%}
                  <div class="listing-meta"> <span><i class="fa fa-clock-o" aria-hidden="true"></i>8 mintes ago</span> <span><i class="fa fa fa-eye" aria-hidden="true"></i> 750 Views</span> </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <style>
                    .listing-grid img {
                    width: 485px;
                    height: 300px;
                    }
                    </style>
					{{que.question|safe}}
                  <!-- <strong>Html Structure</strong>
                  <pre class="brush: php; syntaxhighlight"> -->


 								<!-- </pre>
                  <p> I have tried adding a margin to the left of the main content to push it over but it looks horrible when resized to smaller device. </p>
                  <p>What is the correct way to achieve a fixed sidebar whilst still maintaining responsiveness? </p> -->
                  <div class="tagcloud"> <a href="#">html</a> <a href="#">css</a> <a href="#">bootstrap</a> </div>
                </div>
              </div>
            </div>

            <!-- Question Listing End -->
			

            <div class="clearfix"></div>
            <!-- Thread Reply -->
            <div class="thread-reply">
				<h2>Thread Reply </h2>
				
				<!-- Reply Grid -->
        <style>
          #counter{
            border-width:0px;
            border:none;
            outline: none !important;
            
          }
        </style>
				{% for ans in answer %}
              <div class="media-block card-box ribbon-content">
                <div class="pad-ver pull-left">
                  <button onclick="up_voting('{{ans.id}}')" id="upvote" class="btn btn-sm btn-primary" ><i  class="fas fa-chevron-up"></i></button><br>
                  <input id="counterq{{ans.id}}" type="text" readonly value="{{ans.vote_total}}"  style="width: 3rem; border: none;">
                  <br>
                  <button onclick="down_voting('{{ans.id}}')" id="downvote" class="btn btn-sm btn-primary" ><i  class="fas fa-chevron-down"></i></button>
                  
                </div>
               
                <div class="media-left" style="padding-left: 10px;">
                
                  <a data-toggle="tooltip" data-placement="bottom" data-original-title="Martina Jaz" href="#">
                    <img class="img-sm p-2" alt="Profile Picture" src="https://templates.scriptsbundle.com/knowledge/demo/images/authors/9.jpg">

                  </a>

                </div>
                <div class="media-body">
                  <div class="mar-btm">
                    <h4><a href="#" class="btn-link text-semibold media-heading box-inline">{{ans.user}}</a></h4>
                    <h4>{{ans.answer_title}}</h4>
                    <p class="text-muted text-sm"><i class="fa fa-mobile fa-lg"></i> - {{ans.created_at}}</p>
                  </div>
                  <p>{{ans.description|safe}}</p>
                  {% if author %}
                  {% if ans.is_solution == True %}
                  <!-- <h4 style="color: green;">Best answer</h4> -->
                  <div class="ribbon base"><span>Correct Answer</span>
                  </div>
                  {% else%} 
                  <input type="checkbox" class="searchType" value="{{ans.id}}">            
                  {% endif %}
                  {%else%}
                  {% endif%} 
                 

                </div>
              </div>
			  {% endfor %}

   

              <form method="POST" action="{% url 'answer' que.id %}">
				  {% csrf_token %}
                <div class="form-group">
                  <label>Post Your Answer</label>
				  {{form.media}}
				  {{form.as_p}}
                </div>

                <button class="btn btn-primary btn-lg btn-block">Post Your Answer</button>

              </form>
			  {% endfor %}
            </div>
            <!-- Thread Reply End -->

          </div>

          <!-- Right Sidebar -->
          <div class="col-md-4 col-sm-12 col-xs-12 clearfix">

            <!-- sidebar -->
            <div class="side-bar">
              <div class="widget">
                <div class="widget-image widget-image-sm"> <img alt="image" src="https://templates.scriptsbundle.com/knowledge/demo/images/light-background.jpg">
                  <div class="widget-image-content text-center"> <img class="img-thumbnail" alt="avatar" src="{{profile.profile_image.url}}">
                    <h2 class="widget-heading text-light"><strong>{{profile.user}}</strong></h2>
                    <a href="{% url 'get_profile' profile.id %}"><h4 class="widget-heading text-light-op"><em>View Profile</em></h4></a>

                  </div>
                </div>
                <div class="widget-content widget-content-full border-bottom">
                  <div class="row text-center">
                    <div class="col-xs-6 push-inner-top-bottom border-right">
                      <h3 class="widget-heading"><i class=" icon-trophy push"></i> <br>
                                            <small><strong>34,157</strong> Experience</small></h3>
                    </div>
                    <div class="col-xs-6 push-inner-top-bottom">
                      <h3 class="widget-heading"><i class=" icon-profile-male themed-color-social push"></i> <br>
                                            <small><strong>58.6k</strong> Followers</small></h3>
                    </div>
                  </div>
                </div>
                <div class="widget-content border-bottom">
                  <h4>About</h4>
                  <p>{{profile.bio}}</p>
                </div>
                <div class="widget-content">

                  <div class="btn-group"> <a title="" data-toggle="tooltip" class="btn btn-default" href="javascript:void(0)" data-original-title="Facebook"><i class="fa fa-facebook fa-fw"></i></a> <a title="" data-toggle="tooltip" class="btn btn-default" href="javascript:void(0)" data-original-title="Twitter"><i class="fa fa-twitter fa-fw"></i></a> <a title="" data-toggle="tooltip" class="btn btn-default" href="javascript:void(0)" data-original-title="Google Plus"><i class="fa fa-google-plus fa-fw"></i></a> <a title="" data-toggle="tooltip" class="btn btn-default" href="javascript:void(0)" data-original-title="Pinterest"><i class="fa fa-pinterest fa-fw"></i></a> <a title="" data-toggle="tooltip" class="btn btn-default" href="javascript:void(0)" data-original-title="Dribbble"><i class="fa fa-dribbble fa-fw"></i></a> </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </section>

  
  </div>
  <!-- =-=-=-=-=-=-= Main Area End =-=-=-=-=-=-= -->

  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>


  <script>
	
	  $('.searchType').click(function() {
      console.log('hello')
		  // const a = this.value
      // console()
		  data = {
			  'data':this.value,
			  'csrfmiddlewaretoken': '{{ csrf_token }}'
		  }
		  const url = "{% url 'solved' %}"
				$.ajax({
					type: "POST",
					url: url,
					data: data,
					success: function(data) {
            location.reload();
					},
				})
		  });
		</script>
    <script>
	
      // $('#upvote').click(function() {
      //   console.log()
      //   // const a = this.value
      //   console.log(this.value+'asdfasdfadsfasdf')
      //   data = {
      //     'data':this.value,
      //     'csrfmiddlewaretoken': '{{ csrf_token }}'
      //   }
      //   const url = "{% url 'voting_up' %}"
      //     $.ajax({
      //       type: "POST",
      //       url: url,
      //       data: data,
      //       success: function(data) {
      //   // window.location.reload()
      //       },
      //     })
      //   });
      // $('#downvote').click(function() {
      //   console.log('hello')
      //   // const a = this.value
      //   console.log(this.value)
        
      //   const url = "{% url 'voting_down' %}"
      //     $.ajax({
      //       type: "POST",
      //       url: url,
      //       data: data,
      //       success: function(data) {
      //   //       location.reload();
      //   window.location.reload()
      //       },
      //     })
      //   });


        function up_voting(a){
          data = {
          'data':a,
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        }
        const url = "{% url 'voting_up' %}"
          $.ajax({
            type: "POST",
            url: url,
            data: data,
            success: function(data) {
              
        //       location.reload();
        // window.location.reload()
        console.log(a);
        $("#counter"+a).val(data.total_vote);
        console.log(data);
        // document.getElementById('counter{{ans.id}}').stepUp();
            },
          })
        }
        function down_voting(a){
          data = {
          'data':a,
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        }
        const url = "{% url 'voting_down' %}"
          $.ajax({
            type: "POST",
            url: url,
            data: data,
            success: function(data) {
        //       location.reload();
        // window.location.reload()
        $("#counter"+a).val(data.total_vote);
            },
          })
        }
        function up_vote(a){
          console.log(a+'eeeee')
          data = {
          'data':a,
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        }
        const url = "{% url 'voting_up_question' %}"
          $.ajax({
            type: "POST",
            url: url,
            data: data,
            success: function(data) {

        $("#counterq"+a).val(data.total_vote);
            },
          })
        }
        function down_vote(a){
          console.log(a)
          data = {
          'data':a,
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        }
        const url = "{% url 'voting_down_question' %}"
          $.ajax({
            type: "POST",
            url: url,
            data: data,
            success: function(data) {
        $("#counterq"+a).val(data.total_vote);
            },
          })
        }
      </script>

  {% endblock %}