{% extends 'user/user-base.html' %}

{% load static %}


{% block content %}
{% include 'user/includes/header_base.html' %}


<!-- =-=-=-=-=-=-= Main Area =-=-=-=-=-=-= -->
<div class="main-content-area">

  <!-- =-=-=-=-=-=-= Page Breadcrumb =-=-=-=-=-=-= -->
  <section class="page-title">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-7 co-xs-12 text-left">
          <h1>Blog Detail</h1>
        </div>
        <!-- end col -->

        <div class="col-md-6 col-sm-5 co-xs-12 text-right">
          <div class="bread">
            <ol class="breadcrumb">
              <li><a href="#">Home</a>
              </li>
              <li><a href="#">Pages</a>
              </li>
              <li class="active">Blog Single</li>
            </ol>
          </div>
          <!-- end bread -->
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>

  <!-- =-=-=-=-=-=-= Page Breadcrumb End =-=-=-=-=-=-= -->

  <!-- =-=-=-=-=-=-= Blog & News =-=-=-=-=-=-= -->

  <section id="blog" class="custom-padding white">
    <div class="container">

      <!-- Row -->
      <div class="row">

        <!-- Left Side Content -->
        <div class="col-sm-12 col-xs-12 col-md-8">

          <!-- Blog Grid -->


          <div class="blog-detial">
            <div class="blog-image"> <img alt="blog-image1" class="img-responsive" src="/media/{{single_blog.img}}">
            </div>
            <div class="blog-content">
              <h5>{{single_blog.title}}</h5>
              {% if author %}
              <a href="{% url 'edit_blog' single_blog.slug %}"><i class="fas fa-edit"></i>Edit</a>
              {% else %}
              {% endif %}
              <ul class="post-meta">
                <li>By {{single_blog.user}}</li>
                <li>{{single_blog.created_at}}</li>
              </ul>

            </div>
            <p>{{single_blog.description|safe}}</p>
            <div class="clearfix"></div>

            <div class="entry-footer">
              <div class="post-admin">
              Posted by<a>{{single_blog.user}}</a>
              </div>
              {% if author %}
              <a href="{% url 'edit_blog' single_blog.slug %}">edit your blog here</a>
              {% else %}

              {% endif %}
            </div>

            <div class="clearfix"></div>

            <div class="blog-section">
 
              {% for comment in comments %}
              <ol class="comment-list">
                <!-- comment-list    -->
                <li class="comment">
                  <div class="comment-info">
                    <img class="pull-left hidden-xs img-circle"
                      src="https://png.pngtree.com/png-clipart/20190924/original/pngtree-user-vector-avatar-png-image_4830521.jpg"
                      alt="author">
                    <div class="author-desc">
                      <div class="author-title">
                        <strong>{{comment.user}}</strong>
                        <ul class="list-inline pull-right">
                          <li><a>{{comment.created_at}}</a>
                          </li>
                          <li>
                            <button onclick="showreplybox('{{comment.id}}')" style="color: crimson; background-color: transparent; border: none;"></i>Reply</button>
                         
                        </ul>
                      </div>
                      <p>{{comment.comment}}</p>
                    </div>
                  </div>
                  <div id ="asd"  >
                    <form action="{% url 'reply_section' comment.id single_blog.slug%}" method="POST">
                      {% csrf_token %}

                      <input type="text" name="comment" class="form-control" required="" id="id_comment"/>
                      <input type="submit" value="Post a Reply" id="replybtn" class="btn btn-sm btn-primary">
                    </form>
                </div>
               
                  {% for rep in reply %}
                  {% if comment.id == rep.comment_name.id %}
                  <ol class="children">
                    <li class="comment">
                      <div class="comment-info">
                        <!-- <img class="pull-left hidden-xs img-circle"
                          src="https://templates.scriptsbundle.com/knowledge/demo/images/authors/8.jpg" alt="author"> -->
                        <div class="author-desc">
                          <div class="author-title">
                            <strong>{{rep.user}}</strong>
                            <ul class="list-inline pull-right">
                              <li><a>{{rep.created_at}}</a>
                              </li>
                             
                             <!-- <button onclick="showForm()" ><i class="fa fa-reply"></i>Reply</button> -->
                            
                            </ul>
                          </div>
                          <p>{{rep.comment}}</p>
                          
                         
                          </div> 
                          
                      </div>
                      <!-- .comment-info -->
                    </li>
                  </ol>

                  
                  {% endif %}
                  
                  
                  {% endfor%}
                 

              
              {% endfor %}
              

            </div>

            <div class="clearfix"></div>

            <div class="blog-section">
              <div class="blog-heading">
                <h2>leave your comment </h2>
                <hr>
              </div>
              <div class="commentform">
                <form method="POST" action="{% url 'comment_section' single_blog.slug %}">
                  {% csrf_token %}
                  {{form}}
                  <input type="hidden" name="post_slug" value="{{single_blog.slug}}">
                  <input type="submit" style="margin-top: 2rem;" value="Post Your Comment" class="btn btn-primary">
                </form>

              </div>
            </div>
          </div>

        


     
        </div>
    
       
      </div>
    </div>

  </section>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>


<script>
      function showreplybox(a) {
	const container = document.getElementById('asd');

  var replybtn = document.getElementById('replybtn').value = a
	if (container.classList.contains('d-none')) {
        console.log('true');
		container.classList.remove('d-none');
	} else {
		container.classList.add('d-none');
        console.log('false');
	}
}
</script>

{% endblock %}