

<div class="careerfy-subheader careerfy-subheader-without-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="careerfy-page-title">
                    <h1>Companies</h1>
                    <p>Thousands of prestigious employers for you, search for a recruiter right now.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="careerfy-breadcrumb">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Pages</a></li>
            <li>Candidates</li>
        </ul>
    </div>
</div>

        <div class="careerfy-main-content">
          <div class="careerfy-main-section careerfy-top-full">
              <div class="container">
                  <div class="row">         
                      <div class="careerfy-column-12">
                          <div class="careerfy-typo-wrap">
  
                              <div class="careerfy-filterable">
                                  
                                  <ul>
                                      <li>
                                        
                                      </li>
                                      <form action="form-group" class="form-group">
                                          <input type="text" class="form-control" id="searchField" style="width: 300px;" placeholder="search..." name="title" >
                                      </form>
                                  </ul>
                              </div>
  
                              <div class="app-table">
                          
                              <div class="careerfy-employer careerfy-employer-list">
                                  <ul class="careerfy-row">
                                      {% for comp in question %}
                                      <li class="careerfy-column-12 ">
                                          <div class="careerfy-table-layer">
                                              <div class="careerfy-table-row">
                                                  
                                                  <div class="careerfy-table-cell">
                                                      <small>Banking</small>                                                      
                                                      <h2><a>{{comp.question_title}}</a></h2>
                                                      
                                                  </div>
                                                  <div class="careerfy-table-cell">
                                                      <ul class="careerfy-employer-thumblist">
                                                
                                                      </ul>
                                                      <a href="#" class="careerfy-employer-thumblist-size">{{comp.question}}</a>
                                                  </div>
                                                  <div class="careerfy-table-cell"> <a  class="careerfy-employer-list-btn">10 Vacancies</a> </div>
                                              </div>
                                          </div>
                                      </li>
                                      {% endfor %}
                                     
                                  </ul>
                              </div>
                          </div>


                              <div class="table-output">


                              <div class="careerfy-employer careerfy-employer-list">
                                  <ul class="careerfy-row list-body">
                                     
                                     
                                  </ul>
                              </div>
                             </div>
                       
                          </div>
                      </div>

                  </div>
              </div>
          </div>


      </div>

       
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script>
            const searchField=document.querySelector("#searchField")
            const tableOutput=document.querySelector(".table-output")
            const AppTable = document.querySelector(".app-table")
            const listBody=document.querySelector(".list-body")

            tableOutput.style.display='none'

            searchField.addEventListener("keyup",(e)=>{
                const searchvalue=e.target.value;
                console.log(searchvalue+'11111111')
                if(searchvalue.trim().length>0){
                    listBody.innerHTML=""
                    console.log(searchvalue + '22222222');
                    $.ajax({
                        url : "{% url 'search_filter' %}",
                        type: "GET",
                        data:{'search':searchvalue},
                        
                        success: function(body){

                            console.log(body)
                          
        

                            AppTable.style.display='none'
                            tableOutput.style.display='block'
                 
                            if(body.length === 0){
                                tableOutput.innerHTML=`<h1> No Result Found </h1>`
                            }
                            else{
                            body.forEach((items)=>{
                                    

                                    listBody.innerHTML+=`
                                    <li class="careerfy-column-12 ">
                                          <div class="careerfy-table-layer">
                                              <div class="careerfy-table-row">
                                                  
                                                  <div class="careerfy-table-cell">
                                                      <small>Banking</small>                                                      
                                                      <h2><a>${items.question_title}</a></h2>
                                                      
                                                  </div>
                                                  <div class="careerfy-table-cell">
                                                      <ul class="careerfy-employer-thumblist">
                                                
                                                      </ul>
                                                      <a href="#" class="careerfy-employer-thumblist-size">${items.question}</a>
                                                  </div>
                                                  <div class="careerfy-table-cell"> <a  class="careerfy-employer-list-btn">10 Vacancies</a> </div>
                                              </div>
                                          </div>
                                      </li>
                                
                                
                                    `;

                                })

                             

                            }

                         
                          // $('#apply').html("Applied")
                           //$('#apply').css("cursor", "not-allowed");
                           //$("#apply").attr("disabled", true);
                           // Total()
                            //on()
                            //alert('success')
                           // console.log(body.quantity)
                           // console.log(body.total,'total')
                                            
                            //if(body.quantity == 0){
                            //    window.location.reload()
                            //    }
                        }
                    }); 
                    
                }else{
                    tableOutput.style.display='none'
                    AppTable.style.display='block'
                }
                })
           
        </script>


        
