<form action="">
    <label for="id_question_title">Question title:</label><input type="text" name="question_title" maxlength="200" required="" id="id_question_title">
<label for="id_question">Question:</label><textarea name="question" cols="40" rows="10" required="" id="id_question"></textarea>
<label for="id_attachment">Attachment:</label><input type="file" name="attachment" accept="image/*" id="id_attachment">
<label for="id_tags">Tags:</label><select name="tags" required="" id="id_tags">
  <option value="" selected="">---------</option>

</select>
    <input type="submit" ,="" value="ask">
</form>